public/templates/automatisez-la-slection-des-candidats-avec-mistral-ocr-et-gemini-ai-cv-analysis.json
{
  "metadata": {
    "id": "008",
    "slug": "automatisez-la-slection-des-candidats-avec-mistral-ocr-et-gemini-ai-cv-analysis",
    "title_en": "Automate Candidate Screening with Mistral OCR & Gemini AI CV Analysis",
    "title_fr": "Automatisez la sélection des candidats avec Mistral OCR et Gemini AI CV Analysis",
    "description_short_en": "Automate hiring with an AI-powered CV scanner. Collect, analyze, and score applications in Google Sheets for faster, smarter candidate selection. Learn more!",
    "description_short_fr": "Automatisez le recrutement avec un scanner de CV alimenté par l'IA. Collectez, analysez et notez les candidatures dans Google Sheets pour une sélection de candidats plus rapide et plus intelligente. Apprendre encore plus!",
    "description_full_en": "Automate Candidate Screening with Mistral OCR & Gemini AI CV Analysis\n1. Workflow Overview\nThis n8n workflow automates candidate screening by integrating form submissions, OCR text extraction, AI-powered CV evaluation, and data storage in Google Sheets. It targets recruitment teams aiming to streamline the initial hiring pipeline by automatically extracting text from uploaded CV PDFs, analyzing candidate qualifications against a specific job profile, and logging structured results for easy review and follow-up.\nThe workflow is logically divided into the following blocks:\n1.1 Input Reception:\nCaptures candidate application data and CV file via a customizable web form.\n1.2 Text Extraction:\nUses Mistral OCR to extract text content from the submitted CV PDF.\n1.3 AI Processing:\nEmploys Google Gemini AI to analyze extracted CV text against defined job requirements and outputs a qualification score with explanation.\n1.4 Data Logging and Update:\nLogs candidate basic info immediately on form submission, then updates the Google Sheet with AI analysis results after evaluation.\n1.5 Initialization and Setup:\nCreates and configures the Google Sheets spreadsheet with appropriate columns before processing begins.\n2. Block-by-Block Analysis\n2.1 Input Reception\nOverview:\nThis block collects candidate information and CV uploads via a secure, stylized web form. It triggers the workflow upon submission.\nNodes Involved:\nApplication Form (Form Trigger)\nNode Details:\nApplication Form\nType: Form Trigger\nRole: Receives candidate data (Full Name, Email) and CV PDF file upload from users.\nConfiguration:\nWebhook path set for unique form access.\nCustom dark theme CSS for styling.\nFields: Full Name (required), Email (required), Upload CV (PDF, required).\nResponse mode configured to return last node’s output.\nInputs: External HTTP form submission\nOutputs: Emits JSON with form data and binary file data (CV PDF)\nEdge Cases:\nForm submission without required fields will be blocked by UI validation.\nFile upload type restriction (.pdf) enforced to avoid incompatible inputs.\nSticky Note Reference:\n\"💡 Later, activate this workflow and share the public form URL to let candidates share their CV!\"\nIntegration Issues:\nRequires public webhook exposure and proper SSL configuration for secure form usage.\n2.2 Text Extraction\nOverview:\nExtracts textual content from the uploaded CV PDF using Mistral OCR service for accurate downstream AI analysis.\nNodes Involved:\nExtract CV Text (Mistral AI Node)\nLog Candidate Submission (Google Sheets Append)\nNode Details:\nExtract CV Text\nType: Mistral AI OCR Node\nRole: Converts binary PDF data into raw text from candidate CVs.\nConfiguration:\nBinary property configured dynamically to the uploaded file from the form node.\nUses Mistral Cloud API credentials for authentication.\nInputs: Binary PDF from Application Form node\nOutputs: JSON with extracted text of CV\nVersion Requirements: Mistral API key setup required\nEdge Cases:\nOCR failure due to unsupported file format or corrupted PDF.\nAPI timeout or rate limiting may cause extraction errors.\nSticky Note Reference:\n\"This uses\nMistral OCR\n, it extracts the text perfectly from a candidate's CV (PDF).\"\n\"\nGet your Mistral API key here\n\"\nLog Candidate Submission\nType: Google Sheets — Append Operation\nRole: Immediately logs candidate’s Full Name and Email upon form submission to ensure data persistence even if later steps fail.\nConfiguration:\nAppends to the \"CVs\" Google Sheet on sheet \"gid=0\".\nMaps FullName and Email from form JSON to sheet columns.\nUses OAuth2 credentials for Google Sheets access.\nInputs: JSON data from Application Form\nOutputs: Confirmation of append operation\nEdge Cases:\nGoogle Sheets API quota or permission issues.\nNetwork errors causing failure to log data promptly.\nSticky Note Reference:\n\"Adds the applicant's name and email to the Google Sheet right after they submit the form to have it logged even if the workflow fails.\"\n2.3 AI Processing\nOverview:\nAnalyzes the extracted CV text against predefined job requirements for a Senior Frontend Developer role using Google Gemini AI, producing a structured qualification score and explanation.\nNodes Involved:\nGemini 2.5 Flash Lite (Google Gemini AI Node)\nJSON Output Parser (LangChain Structured Output Parser)\nAI Qualification (LangChain LLM Chain)\nNode Details:\nGemini 2.5 Flash Lite\nType: LangChain Google Gemini Chat Model Node\nRole: Executes the AI language model prompt to evaluate CV content.\nConfiguration:\nModel set to \"models/gemini-2.5-flash-lite\".\nTemperature parameter set to 0.4 for balanced creativity and determinism.\nUses Google Palm API OAuth credentials.\nInputs: Text extracted from CV node output\nOutputs: Raw AI response (text)\nEdge Cases:\nAPI key invalid or quota exceeded.\nModel downtime or connectivity issues.\nSticky Note Reference:\n\"1.\nIn Google AI Studio\nclick\n“Create API key in new project”\nand copy it.\"\n\"2. Open the\nConnect Gemini\nnode: select credential, create new, then paste API key and save.\"\nJSON Output Parser\nType: LangChain Output Parser (Structured)\nRole: Enforces structured JSON schema on AI output to ensure consistent data format (\nqualificationRate\n,\nexplanation\n).\nConfiguration:\nManual schema defines required numeric and string fields without additional properties.\nInputs: Raw AI text from Gemini node\nOutputs: Validated and parsed JSON object for downstream use\nEdge Cases:\nAI output not conforming to schema causing parse errors.\nSchema mismatch if AI prompt changes.\nAI Qualification\nType: LangChain LLM Chain Node\nRole: Implements the full AI prompt chain combining role instructions, job requirements context, evaluation criteria, and output format.\nConfiguration:\nPrompt includes detailed Senior Frontend Developer job description, core & preferred requirements, evaluation logic, and output JSON format.\nHas output parser linked to JSON Output Parser node for structured results.\nInputs: Parsed extracted CV text\nOutputs: JSON object with candidate qualification data\nEdge Cases:\nPrompt formatting errors or truncation.\nAI model response delays or failures.\nSticky Note Reference:\n\"Adapt the\njob requirements\nin the prompt to\nyour position & criteria\n.\"\n2.4 Data Logging and Update\nOverview:\nUpdates the existing Google Sheet entry for the candidate with their AI qualification results, linking by email for record integrity.\nNodes Involved:\nAdd CV Analysis (Google Sheets Update)\nNode Details:\nAdd CV Analysis\nType: Google Sheets — Update Operation\nRole: Updates candidate row in \"CVs\" sheet matching by Email with AI-generated qualification score and explanation text.\nConfiguration:\nMatches rows by Email column.\nUpdates QualificationRate and QualificationDescription columns with AI data.\nUses OAuth2 credentials.\nInputs: JSON output from AI Qualification and original form data for email\nOutputs: Confirmation of update operation\nEdge Cases:\nNo matching email row found causing update failure.\nGoogle Sheets API permission or quota issues.\nSticky Note Reference:\n\"Check your Google Sheets! You now have the analysis of the candidate.\"\n2.5 Initialization and Setup\nOverview:\nSets up a new Google Sheets spreadsheet titled \"CVs\" with necessary columns to store candidate information and analysis results.\nNodes Involved:\nCreate 'CVs' Spreadsheet\nSticky Notes (multiple for instructions and workflow goal)\nNode Details:\nCreate 'CVs' Spreadsheet\nType: Google Sheets — Spreadsheet Creation\nRole: Initializes a new Google Sheet with columns: FullName, Email, QualificationRate, QualificationDescription.\nConfiguration:\nSpreadsheet title set to \"CVs\".\nSeparate sheets created for each column title (sheet names match column names).\nUses OAuth2 credentials.\nInputs: Manual trigger or workflow start\nOutputs: Spreadsheet ID and URL for access\nEdge Cases:\nGoogle API quota or permissions errors.\nSticky Note Reference:\n\"Initializes a new Google Sheet with columns for applicant data. Can be replaced with Airtable, Notion, etc.\"\nSticky Notes\nProvide workflow goals, instructions for credential setup, and user tips, such as sharing form URL and adapting prompts.\n3. Summary Table\nNode Name\nNode Type\nFunctional Role\nInput Node(s)\nOutput Node(s)\nSticky Note\nStart Here\nManual Trigger\nWorkflow manual start trigger\n—\nCreate 'CVs' Spreadsheet\n© 2025 Lucas Peyrin\nCreate 'CVs' Spreadsheet\nGoogle Sheets (Spreadsheet Create)\nInitializes candidate data spreadsheet\nStart Here\nApplication Form\nInitializes a new Google Sheet with columns for applicant data. Can be replaced with Airtable, Notion, etc.\nApplication Form\nForm Trigger\nCaptures candidate’s info and CV\nCreate 'CVs' Spreadsheet\nExtract CV Text, Log Candidate Submission\n💡 Later, activate this workflow and share the public form URL to let candidates share their CV!\nExtract CV Text\nMistral AI OCR\nExtracts text from candidate CV PDF\nApplication Form\nAI Qualification\nThis uses\nMistral OCR\n, it extracts the text perfectly from a candidate's CV (PDF). \\n**\nGet your Mistral API key here\n**\nLog Candidate Submission\nGoogle Sheets (Append)\nLogs candidate basic info immediately\nApplication Form\n—\nAdds the applicant's name and email to the Google Sheet right after they submit the form to have it logged even if the workflow fails.\nGemini 2.5 Flash Lite\nLangChain Google Gemini AI Model\nRuns AI model for CV analysis\nExtract CV Text\nAI Qualification\n1.\nIn Google AI Studio\nclick\n“Create API key in new project”\nand copy it.\\n2. Open the\nConnect Gemini\nnode and paste API key.\nJSON Output Parser\nLangChain Output Parser (Structured)\nParses AI output into structured JSON\nGemini 2.5 Flash Lite\nAI Qualification\nEnsures the AI's response is perfectly structured as JSON (e.g.,\nqualificationRate\n,\nexplanation\n), making data reliable.\nAI Qualification\nLangChain LLM Chain\nEvaluates CV text against job criteria\nExtract CV Text, Gemini 2.5 Flash Lite, JSON Output Parser\nAdd CV Analysis\nAdapt the\njob requirements\nin the prompt to\nyour position & criteria\n.\nAdd CV Analysis\nGoogle Sheets (Update)\nUpdates candidate row with AI analysis\nAI Qualification\n—\nCheck your Google Sheets! You now have the analysis of the candidate.\nSticky Note - Workflow Goal1\nSticky Note\nDescribes workflow purpose and usage\n—\n—\n## Automated CV Scanner\\nThis workflow automates your hiring pipeline: 1. Collects applications via form, 2. Extracts CV text, 3. Analyzes CV with AI, 4. Stores results in Google Sheets.\nSticky Note - Create Spreadsheet1\nSticky Note\nNotes about spreadsheet setup\n—\n—\nInitializes a new Google Sheet with columns for applicant data. Can be replaced with Airtable, Notion, etc.\nSticky Note - Append Row1\nSticky Note\nNotes about logging candidate info\n—\n—\nAdds the applicant's name and email to the Google Sheet right after they submit the form to have it logged even if the workflow fails.\nSticky Note - Extract Text1\nSticky Note\nNotes about Mistral OCR usage\n—\n—\nThis uses\nMistral OCR\n, it extracts the text perfectly from a candidate's CV (PDF).\nSticky Note - LLM Chain1\nSticky Note\nNotes about prompt adaptation\n—\n—\nAdapt the\njob requirements\nin the prompt to\nyour position & criteria\n.\nSticky Note - Output Parser1\nSticky Note\nNotes about output parsing\n—\n—\nEnsures the AI's response is perfectly structured as JSON (e.g.,\nqualificationRate\n,\nexplanation\n), making the data reliable.\nSticky Note - Update Row1\nSticky Note\nNotes about final Google Sheets update\n—\n—\nCheck your Google Sheets! You now have the analysis of the candidate.\nSticky Note12\nSticky Note\nReminds to activate workflow and share form\n—\n—\n💡 Later, activate this workflow and share the public form URL to let candidates share their CV!\nSticky Note\nSticky Note\nInstructions for Gemini AI API key setup\n—\n—\n1.\nIn Google AI Studio\nclick\n“Create API key in new project”\nand copy it.\\n2. Open the\nConnect Gemini\nnode: select credential, create new, paste API key and save.\n4. Reproducing the Workflow from Scratch\nCreate Manual Trigger Node\nName: \"Start Here\"\nPurpose: Manual workflow start for initialization.\nCreate Google Sheets Node to Initialize Spreadsheet\nName: \"Create 'CVs' Spreadsheet\"\nType: Google Sheets — Create Spreadsheet\nParameters:\nTitle: \"CVs\"\nSheets: Create columns as separate sheets titled \"FullName\", \"Email\", \"QualificationRate\", \"QualificationDescription\"\nCredentials: OAuth2 Google Sheets with proper permission for creating spreadsheets.\nConnect \"Start Here\" node output to this node input.\nCreate Form Trigger Node\nName: \"Application Form\"\nType: Form Trigger\nParameters:\nWebhook path: unique path for public access\nForm fields:\nFull Name (required, text)\nEmail (required, text)\nUpload CV (required, file, accept only .pdf)\nCustom CSS: Use provided dark professional theme CSS for UI\nSubmit button label: \"Submit Application\"\nForm description: \"Please fill out the form below and upload your CV to apply.\"\nConnect output of \"Create 'CVs' Spreadsheet\" node to this node.\nCreate Mistral OCR Node\nName: \"Extract CV Text\"\nType: Mistral AI\nParameters:\nBinary Property: dynamically set to the uploaded CV file from \"Application Form\" node, using expression\n={{ $('Application Form').last().binary.keys()[0] }}\nCredentials: Mistral Cloud API key (register and obtain from\nhttps://console.mistral.ai/api-keys\n)\nConnect output of \"Application Form\" to this node.\nCreate Google Sheets Append Node\nName: \"Log Candidate Submission\"\nType: Google Sheets — Append\nParameters:\nDocument ID: ID of the \"CVs\" spreadsheet created previously\nSheet Name: \"gid=0\" (default first sheet)\nColumns to append: FullName mapped from\n{{$json[\"Full Name\"]}}\n, Email mapped from\n{{$json.Email}}\nCredentials: OAuth2 Google Sheets\nConnect output of \"Application Form\" to this node (parallel with \"Extract CV Text\").\nCreate Google Gemini AI Node\nName: \"Gemini 2.5 Flash Lite\"\nType: LangChain Google Gemini Chat Model\nParameters:\nModel: \"models/gemini-2.5-flash-lite\"\nTemperature: 0.4\nCredentials: Google Palm API (create API key at\nhttps://aistudio.google.com/app/apikey\n, then configure credential in n8n)\nConnect output of \"Extract CV Text\" node to this node.\nCreate LangChain Output Parser Node\nName: \"JSON Output Parser\"\nType: LangChain Output Parser (Structured)\nParameters:\nSchema type: manual\nInput schema:\n{\n  \"type\": \"object\",\n  \"properties\": {\n    \"qualificationRate\": { \"type\": \"number\" },\n    \"explanation\": { \"type\": \"string\" }\n  },\n  \"required\": [\"qualificationRate\", \"explanation\"],\n  \"additionalProperties\": false\n}\nConnect output of \"Gemini 2.5 Flash Lite\" node to this node (as AI output parser).\nCreate LangChain LLM Chain Node\nName: \"AI Qualification\"\nType: LangChain Chain LLM\nParameters:\nText: Full AI prompt including:\nGoal: Evaluate CV against Senior Frontend Developer job requirements\nContext: Job description detailing core and preferred qualifications\nEvaluation Logic: Scoring rules and explanation requirements\nOutput format: Strict JSON object with\nqualificationRate\nand\nexplanation\nHas output parser: enabled, linked to \"JSON Output Parser\"\nConnect output of \"Extract CV Text\" node (for CV text input) and connect AI model and output parser nodes appropriately as inputs for chain processing.\nCreate Google Sheets Update Node\nName: \"Add CV Analysis\"\nType: Google Sheets — Update\nParameters:\nDocument ID: Same \"CVs\" spreadsheet ID\nSheet Name: \"gid=0\"\nMatching column: Email\nColumns to update:\nQualificationRate: mapped from\n{{$json.output.qualificationRate}}\nfrom AI Qualification output\nQualificationDescription: mapped from\n{{$json.output.explanation}}\nCredentials: OAuth2 Google Sheets\nConnect output of \"AI Qualification\" node to this node.\nValidate connections:\nApplication Form → Extract CV Text → Gemini 2.5 Flash Lite → JSON Output Parser → AI Qualification → Add CV Analysis\nApplication Form → Log Candidate Submission (parallel branch)\nStart Here → Create 'CVs' Spreadsheet → Application Form\nCredential Setup:\nGoogle Sheets OAuth2: Required for all Google Sheets nodes.\nMistral API Key: For OCR node.\nGoogle Palm API Key: For Gemini AI node.\nOptional:\nAdd Sticky Notes to document each step and provide instructions on credential setup, workflow goals, and usage tips for maintainability.\n5. General Notes & Resources\nNote Content\nContext or Link\nWorkflow automates hiring pipeline: collects applications, extracts CV text via OCR, analyzes with AI, and stores structured results in Google Sheets for easy review.\nWorkflow Goal Sticky Note\nMistral OCR provides high-quality text extraction from PDFs. Requires API key setup at\nhttps://console.mistral.ai/api-keys\n.\nhttps://mistral.ai/fr/news/mistral-ocr\nand\nhttps://console.mistral.ai/api-keys\nGoogle Gemini AI model (Gemini 2.5 Flash Lite) requires API key from Google AI Studio (\nhttps://aistudio.google.com/app/apikey\n).\nhttps://aistudio.google.com/app/apikey\nSuggested to adapt AI prompt’s job requirements to match the specific position and evaluation criteria you need.\nSticky note on LLM Chain node\nThe form uses a modern dark theme with CSS for enhanced user experience; customization is possible as needed.\nApplication Form node CSS settings\nFor feedback or custom workflow development, contact via unified AI-powered form:\nhttps://api.ia2s.app/form/templates/academy\nWorkflow Goal Sticky Note\nDisclaimer:\nThe provided content is derived solely from an automated n8n workflow. It fully complies with current content policies and contains no illegal, offensive, or protected elements. All processed data is legal and public.\nCopied to clipboard",
    "description_full_fr": "### Étape 1 : Réception des candidatures\nUn formulaire web stylé (dark theme professionnel) demande :\n- Nom complet\n- Email\n- Upload du CV (PDF uniquement)\n\nDès qu'un candidat soumet, le workflow se déclenche.",
    "category": "AI",
    "complexity": "Advanced",
    "tags_en": [],
    "tags_fr": [],
    "author": "Lucas Peyrin",
    "date": "Unknown",
    "url_original": "https://n8nworkflows.xyz/workflows/automate-candidate-screening-with-mistral-ocr-gemini-ai-cv-analysis-7456",
    "nodes_count": 18,
    "sections": {
      "why": "❌ **Scanner tous les CVs en batch :** Mistral OCR coûte $0.02 par page. Si tu as 500 CVs de 2 pages, ça fait $20. Filtre d'abord par mots-clés basiques avant l'IA.\n\n❌ **Oublier de tester le formulaire :** Envoie-toi un CV test AVANT de partager le lien. Vérifie que tout arrive bien dans Sheets.\n\n❌ **Ne pas versionner ton prompt :** Dès que tu changes les critères, duplique le workflow. Tu pourras comparer les résultats entre versions.\n\n---",
      "description": "### Étape 1 : Réception des candidatures\nUn formulaire web stylé (dark theme professionnel) demande :\n- Nom complet\n- Email\n- Upload du CV (PDF uniquement)\n\nDès qu'un candidat soumet, le workflow se déclenche.",
      "installation": "### Prérequis\n- [ ] n8n installé (cloud ou self-hosted)\n- [ ] Compte Google avec Google Sheets activé\n- [ ] Clé API Mistral (gratuite 7 jours, puis $10/mois)\n- [ ] Clé API Gemini (Google AI Studio, gratuite jusqu'à 60 requêtes/min)",
      "usage": "### Scénario 1 : Campagne de recrutement Dev Senior\n**Situation :** Tu recrutes 2 devs React. 150 CVs attendus.\n\n**Process :**\n1. Adapte les critères dans le node \"AI Qualification\"\n2. Active le workflow\n3. Partage le lien du formulaire sur LinkedIn + Welcome to the Jungle\n\n**Résultat automatique :**\n- Les candidats remplissent le form\n- Chaque CV est scanné et scoré en 30 secondes\n- Tu reçois une Google Sheet avec 150 lignes triées par score\n- Tu calls les 15 profils >8/10 en priorité\n\n**Temps gagné :** 40 heures → 2 heures de review.\n\n---",
      "tips": "**Prompt engineering = clé du succès**\nL'IA est aussi bonne que ton prompt. Sois ULTRA précis :\n- ❌ \"Maîtrise de JavaScript\"\n- ✅ \"5+ années d'expérience professionnelle en JavaScript moderne (ES6+) avec projets en production\"\n\n**Gère les faux positifs**\nL'IA peut surévaluer les CVs bullshit (mots-clés suroptimisés). Solution :\n- Ajoute dans le prompt : \"Pénalise les CVs avec des listes de techno sans projets concrets\"\n- Review manuellement les scores >9/10\n\n**Évite les biais**\nL'IA peut hériter des biais de langage. Dans ton prompt :\n```\nIMPORTANT : Évalue uniquement les compétences techniques.\nIgnore : nom, genre, origine, âge, université.\n```\n\n**Scale avec des webhooks**\nConnecte ton ATS favori :\n- Greenhouse : Webhook POST vers leur API\n- Notion : Node Notion pour créer une page par candidat\n- Slack : Notif dans #recrutement avec score + lien CV\n\n---",
      "learning": "**Setup initial :** 30 minutes\n**Temps par candidat :** 30 secondes (vs 15 minutes manuellement)\n**Coût :** ~$15/mois (APIs)\n**Gain pour 100 CVs :** 24 heures de travail économisées\n\n🔥 **Prêt à automatiser ton recrutement ?** Importe le workflow et envoie ton premier CV test."
    }
  },
  "workflow_json": {
    "meta": {
      "instanceId": "e409ea34548a2afe2dffba31130cd1cf2e98ebe2afaeed2a63caf2a0582d1da0"
    },
    "nodes": [
      {
        "id": "821d52da-591f-44db-b218-ee3974855a05",
        "cid": "Ikx1Y2FzIFBleXJpbiI",
        "name": "Sticky Note - Create Spreadsheet1",
        "type": "n8n-nodes-base.stickyNote",
        "notes": "© 2025 Lucas Peyrin",
        "creator": "Lucas Peyrin",
        "position": [
          -1408,
          608
        ],
        "parameters": {
          "color": 7,
          "width": 272,
          "height": 272,
          "content": "Initializes a new Google Sheet with columns for applicant data. Can be replaced with Airtable, Notion, etc."
        },
        "typeVersion": 1
      },
      {
        "id": "72c7af0e-d8f8-4498-a849-b95c323a6cd6",
        "cid": "Ikx1Y2FzIFBleXJpbiI",
        "name": "Sticky Note - Append Row1",
        "type": "n8n-nodes-base.stickyNote",
        "notes": "© 2025 Lucas Peyrin",
        "creator": "Lucas Peyrin",
        "position": [
          -720,
          256
        ],
        "parameters": {
          "color": 7,
          "width": 320,
          "height": 288,
          "content": "Adds the applicant's name and email to the Google Sheet right after they submit the form to have it logged even if the workflow fails."
        },
        "typeVersion": 1
      },
      {
        "id": "b8076a35-fb6e-481d-9d92-3a95e9c3c732",
        "cid": "Ikx1Y2FzIFBleXJpbiI",
        "name": "Sticky Note - Extract Text1",
        "type": "n8n-nodes-base.stickyNote",
        "notes": "© 2025 Lucas Peyrin",
        "creator": "Lucas Peyrin",
        "position": [
          -704,
          576
        ],
        "parameters": {
          "color": 7,
          "width": 224,
          "height": 304,
          "content": "This uses **[Mistral OCR](https://mistral.ai/fr/news/mistral-ocr)**, it extracts the text perfectly from a candidate's CV (PDF).\n\n**[Get your Mistral API key here](https://console.mistral.ai/api-keys)**"
        },
        "typeVersion": 1
      },
      {
        "id": "f7d1f44f-2d84-4a97-adad-2923f6ba1736",
        "cid": "Ikx1Y2FzIFBleXJpbiI",
        "name": "Sticky Note - LLM Chain1",
        "type": "n8n-nodes-base.stickyNote",
        "notes": "© 2025 Lucas Peyrin",
        "creator": "Lucas Peyrin",
        "position": [
          -464,
          608
        ],
        "parameters": {
          "color": 6,
          "width": 320,
          "height": 248,
          "content": "Adapt the `job requirements` in the prompt to **your position & criteria**."
        },
        "typeVersion": 1
      },
      {
        "id": "a1e153ae-1a1b-4a4f-b901-b999c31b4059",
        "cid": "Ikx1Y2FzIFBleXJpbiI",
        "name": "Sticky Note - Output Parser1",
        "type": "n8n-nodes-base.stickyNote",
        "notes": "© 2025 Lucas Peyrin",
        "creator": "Lucas Peyrin",
        "position": [
          -320,
          912
        ],
        "parameters": {
          "color": 7,
          "width": 368,
          "height": 256,
          "content": "\n\n\n\n\n\n\n\n\n\n\n\n\nEnsures the AI's response is perfectly structured as JSON (e.g., `qualificationRate`, `explanation`), making the data reliable and easy to use."
        },
        "typeVersion": 1
      },
      {
        "id": "641d597c-400b-4d6c-a21c-5fc28099c9be",
        "cid": "Ikx1Y2FzIFBleXJpbiI",
        "name": "Sticky Note - Update Row1",
        "type": "n8n-nodes-base.stickyNote",
        "notes": "© 2025 Lucas Peyrin",
        "creator": "Lucas Peyrin",
        "position": [
          -128,
          608
        ],
        "parameters": {
          "color": 7,
          "width": 272,
          "height": 256,
          "content": "Check your Google Sheets! You now have the analysis of the candidate."
        },
        "typeVersion": 1
      },
      {
        "id": "704e43dd-ee85-4514-8a41-cb3daaf71eee",
        "cid": "Ikx1Y2FzIFBleXJpbiI",
        "name": "Sticky Note - Workflow Goal1",
        "type": "n8n-nodes-base.stickyNote",
        "notes": "© 2025 Lucas Peyrin",
        "creator": "Lucas Peyrin",
        "position": [
          -1872,
          288
        ],
        "parameters": {
          "width": 448,
          "height": 592,
          "content": "## Automated CV Scanner\n\nThis workflow automates your hiring pipeline:\n1.  **Collects** applications via a web form.\n2.  **Extracts** text from the CV (PDF).\n3.  **Analyzes** the CV with AI against your job description.\n4.  **Stores** the candidate's score and a detailed explanation in Google Sheets.\n\n\n### Questions or Feedback?\nFor feedback, coaching, built-for-you workflows, or any questions, use my unified AI-powered contact form.\n\n➡️ **[Get in Touch Here](https://api.ia2s.app/form/templates/academy)**\n\n*Happy Automating! —Lucas Peyrin*"
        },
        "typeVersion": 1
      },
      {
        "id": "cb5ef831-79f7-4129-9642-6ece79a3603e",
        "cid": "Ikx1Y2FzIFBleXJpbiI",
        "name": "Application Form",
        "type": "n8n-nodes-base.formTrigger",
        "notes": "© 2025 Lucas Peyrin",
        "creator": "Lucas Peyrin",
        "position": [
          -928,
          704
        ],
        "webhookId": "230e09f7-33df-4266-917d-ce3398cae141",
        "parameters": {
          "options": {
            "path": "230e09f7-33df-4266-917d-ce3398cae141",
            "customCss": "/* --- ROOT VARIABLES (Dark Professional Theme) --- */\n:root {\n\t/* --- FONT MAPPING --- */\n\t--font-family: 'Inter', sans-serif;\n\t--font-weight-normal: 400;\n\t--font-weight-bold: 600;\n\t--font-size-body: 14px;\n\t--font-size-label: 14px;\n\t--font-size-input: 14px;\n\t--font-size-header: 24px;\n\t--line-height-base: 1.6;\n\n\t/* --- COLOR MAPPING (Dark Slate/Purple Theme) --- */\n\t--color-page-bg: #111827; /* Dark Slate */\n\t--color-card-bg-glass: rgba(29, 39, 53, 0.65); /* Darker, less transparent glass */\n\t--color-card-border-glass: rgba(255, 255, 255, 0.1); /* Subtle light border */\n\t--color-input-bg: #1F2937; /* Slightly lighter than page bg */\n\t--color-header: #F9FAFB; /* Off-white for high contrast */\n\t--color-label: #9CA3AF; /* Light gray for secondary text */\n\t--color-input-text: #F9FAFB;\n\t--color-input-border: #4B5563; /* Mid-gray border */\n\t--color-focus-border: #8B5CF6; /* Vibrant Purple */\n\t--color-link: #8B5CF6;\n\t--color-submit-btn-bg: #8B5CF6;\n\t--color-submit-btn-hover-bg: #7C3AED; /* Darker Purple */\n\t--color-submit-btn-text: #FFFFFF;\n\t--color-error: #F43F5E; /* Vibrant Rose for errors */\n\t--color-required: #F43F5E;\n\n\t/* --- DIMENSIONS & SPACING --- */\n\t--container-width: 550px;\n\t--border-radius-card: 16px;\n\t--border-radius-input: 8px;\n\t--padding-card: 32px;\n\t--padding-form-input: 14px;\n\t--submit-btn-height: 48px;\n\t--checkbox-size: 20px;\n\n\t/* --- EFFECTS & ANIMATIONS --- */\n\t--box-shadow-card: 0 16px 50px rgba(0, 0, 0, 0.3); /* Deeper shadow for dark mode */\n\t--transition-speed: 0.25s;\n\t--animation-speed-fast: 0.2s;\n\t--animation-speed-normal: 0.4s;\n}\n\n/* === KEYFRAME ANIMATIONS === */\n@keyframes fadeInSlideUp {\n    from {\n        opacity: 0;\n        transform: translateY(20px);\n    }\n    to {\n        opacity: 1;\n        transform: translateY(0);\n    }\n}\n\n@keyframes backgroundPan {\n\t0% { background-position: 0% 50%; }\n\t50% { background-position: 100% 50%; }\n\t100% { background-position: 0% 50%; }\n}\n\n/* === GLOBAL LAYOUT & STYLES === */\nbody {\n    /* Dynamic animated aurora gradient background */\n    background-color: var(--color-page-bg);\n    background-image:\n        radial-gradient(at 20% 100%, hsla(278, 60%, 45%, 0.2) 0px, transparent 50%),\n        radial-gradient(at 80% 0%, hsla(215, 60%, 40%, 0.2) 0px, transparent 50%),\n        radial-gradient(at 50% 50%, hsla(259, 70%, 55%, 0.1) 0px, transparent 50%);\n    background-size: 200% 200%;\n    animation: backgroundPan 15s ease-in-out infinite;\n\n    line-height: var(--line-height-base);\n    font-size: var(--font-size-body);\n    color: var(--color-label); /* Set default text color for body */\n\n    /* Flexbox properties for true centering */\n    display: flex;\n    align-items: center;\n    justify-content: center;\n    min-height: 100vh;\n    margin: 0;\n    overflow-x: hidden; /* Prevent horizontal scroll from large gradients */\n}\n\n.form-container {\n    padding: 2rem 1rem;\n}\n\n/* === THE GLASSMORPHISM CARD === */\n.card {\n    background: var(--color-card-bg-glass);\n    backdrop-filter: blur(16px) saturate(150%);\n    -webkit-backdrop-filter: blur(16px) saturate(150%);\n    border-radius: var(--border-radius-card);\n    border: 1px solid var(--color-card-border-glass);\n    box-shadow: var(--box-shadow-card);\n    transition: box-shadow var(--animation-speed-normal) ease;\n\n    /* Card Load-in Animation */\n    animation: fadeInSlideUp 0.6s ease-out forwards;\n}\n.card:hover {\n    box-shadow: 0 0 50px rgba(139, 92, 246, 0.15); /* Subtle purple glow on hover */\n}\n\n/* === FORM ELEMENT STYLING === */\n.form-input {\n    border-radius: var(--border-radius-input);\n    transition: border-color var(--transition-speed) ease, box-shadow var(--transition-speed) ease;\n    background-color: var(--color-input-bg);\n    border: 1px solid var(--color-input-border);\n    color: var(--color-input-text);\n}\n.form-input::placeholder {\n    color: var(--color-label);\n    opacity: 0.7;\n}\n.form-input:focus {\n    /* Glow effect on focus */\n    box-shadow: 0 0 0 3px rgba(139, 92, 246, 0.25);\n    border-color: var(--color-focus-border);\n    outline: none; /* Remove default outline */\n}\n\ntextarea.form-input {\n    min-height: 150px;\n    resize: vertical;\n}\n\n/* Submit Button */\nbutton.submit-btn {\n    transition: all var(--transition-speed) ease-in-out;\n    font-family: var(--font-family);\n    font-weight: var(--font-weight-bold);\n    color: var(--color-submit-btn-text);\n    background-color: var(--color-submit-btn-bg);\n    border-radius: var(--border-radius-input);\n    border: none;\n    cursor: pointer;\n}\nbutton.submit-btn:hover {\n    background-color: var(--color-submit-btn-hover-bg);\n    /* Add a lift and glow effect on hover */\n    transform: translateY(-3px);\n    box-shadow: 0 8px 25px rgba(139, 92, 246, 0.3);\n}\n\n/* === MODERN CHECKBOX STYLING === */\nlabel.multiselect-label {\n    display: flex;\n    align-items: center;\n    cursor: pointer;\n    position: relative;\n    padding: 8px 0;\n}\nlabel.multiselect-label span {\n    padding-left: 12px;\n    color: var(--color-label);\n    transition: color var(--transition-speed) ease;\n}\nlabel.multiselect-label:hover span {\n    color: var(--color-input-text); /* Lighten label text on hover */\n}\nlabel.multiselect-label input[type=\"checkbox\"] {\n    position: absolute;\n    opacity: 0;\n    cursor: pointer;\n    height: 0;\n    width: 0;\n}\nlabel.multiselect-label span::before {\n    content: '';\n    position: absolute;\n    left: 0;\n    top: 50%;\n    transform: translateY(-50%);\n    width: var(--checkbox-size);\n    height: var(--checkbox-size);\n    background-color: var(--color-input-bg);\n    border: 1px solid var(--color-input-border);\n    border-radius: 6px;\n    transition: all var(--animation-speed-fast) ease-in-out;\n}\nlabel.multiselect-label input[type=\"checkbox\"]:checked + span::before {\n    background-color: var(--color-focus-border);\n    border-color: var(--color-focus-border);\n    background-image: url(\"data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e\");\n    background-position: center;\n    background-repeat: no-repeat;\n    /* Animation for the checkmark appearing */\n    transform: translateY(-50%) scale(1.05);\n}\nlabel.multiselect-label input[type=\"checkbox\"]:focus-visible + span::before {\n    /* Use a glow for focus instead of a harsh outline */\n    box-shadow: 0 0 0 3px rgba(139, 92, 246, 0.3);\n}",
            "buttonLabel": "Submit Application",
            "appendAttribution": false
          },
          "formTitle": "Submit Your Application",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Full Name",
                "placeholder": "e.g., Jane Doe",
                "requiredField": true
              },
              {
                "fieldLabel": "Email",
                "placeholder": "e.g., jane.doe@example.com",
                "requiredField": true
              },
              {
                "fieldType": "file",
                "fieldLabel": "Upload CV",
                "requiredField": true,
                "acceptFileTypes": ".pdf"
              }
            ]
          },
          "responseMode": "lastNode",
          "formDescription": "Please fill out the form below and upload your CV to apply."
        },
        "typeVersion": 2.2
      },
      {
        "id": "8af8707e-de1b-4687-8d7a-c853dfec2b31",
        "cid": "Ikx1Y2FzIFBleXJpbiI",
        "name": "Start Here",
        "type": "n8n-nodes-base.manualTrigger",
        "notes": "© 2025 Lucas Peyrin",
        "creator": "Lucas Peyrin",
        "position": [
          -1648,
          704
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "id": "3b04b67b-d4dc-44e6-90e1-d239dbbc40d1",
        "cid": "Ikx1Y2FzIFBleXJpbiI",
        "name": "Extract CV Text",
        "type": "n8n-nodes-base.mistralAi",
        "notes": "© 2025 Lucas Peyrin",
        "creator": "Lucas Peyrin",
        "position": [
          -640,
          704
        ],
        "parameters": {
          "options": {},
          "binaryProperty": "={{ $('Application Form').last().binary.keys()[0] }}"
        },
        "credentials": {
          "mistralCloudApi": {
            "id": "CVHf7SBQRl2FcHwb",
            "name": "Mistral Template Key"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "483377db-ede2-4dcb-8ce0-a77b9f9d1b09",
        "cid": "Ikx1Y2FzIFBleXJpbiI",
        "name": "Log Candidate Submission",
        "type": "n8n-nodes-base.googleSheets",
        "notes": "© 2025 Lucas Peyrin",
        "creator": "Lucas Peyrin",
        "position": [
          -624,
          368
        ],
        "parameters": {
          "columns": {
            "value": {
              "Email": "={{ $json.Email }}",
              "FullName": "={{ $json[\"Full Name\"] }}"
            },
            "schema": [
              {
                "id": "FullName",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "FullName",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Email",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "QualificationRate",
                "type": "string",
                "display": true,
                "removed": true,
                "required": false,
                "displayName": "QualificationRate",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "QualificationDescription",
                "type": "string",
                "display": true,
                "removed": true,
                "required": false,
                "displayName": "QualificationDescription",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {},
          "operation": "append",
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "gid=0",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PSiIF84BsVrnePIfgdNEVqYnWlWxW5ok8wh3cPDUYxg/edit#gid=0",
            "cachedResultName": "Feuille 1"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "1PSiIF84BsVrnePIfgdNEVqYnWlWxW5ok8wh3cPDUYxg",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PSiIF84BsVrnePIfgdNEVqYnWlWxW5ok8wh3cPDUYxg/edit?usp=drivesdk",
            "cachedResultName": "CVs"
          }
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "csiCs0Ukgbs3jYYk",
            "name": "Calvin"
          }
        },
        "typeVersion": 4.6
      },
      {
        "id": "d4aa8091-6577-44b5-9541-c0cc87f83e93",
        "cid": "Ikx1Y2FzIFBleXJpbiI",
        "name": "Add CV Analysis",
        "type": "n8n-nodes-base.googleSheets",
        "notes": "© 2025 Lucas Peyrin",
        "creator": "Lucas Peyrin",
        "position": [
          -64,
          704
        ],
        "parameters": {
          "columns": {
            "value": {
              "Email": "={{ $('Application Form').last().json.Email }}",
              "QualificationRate": "={{ $json.output.qualificationRate }}",
              "QualificationDescription": "={{ $json.output.explanation }}"
            },
            "schema": [
              {
                "id": "FullName",
                "type": "string",
                "display": true,
                "removed": true,
                "required": false,
                "displayName": "FullName",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Email",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "QualificationRate",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "QualificationRate",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "QualificationDescription",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "QualificationDescription",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "row_number",
                "type": "number",
                "display": true,
                "removed": true,
                "readOnly": true,
                "required": false,
                "displayName": "row_number",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [
              "Email"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {},
          "operation": "update",
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "gid=0",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PSiIF84BsVrnePIfgdNEVqYnWlWxW5ok8wh3cPDUYxg/edit#gid=0",
            "cachedResultName": "Feuille 1"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "1PSiIF84BsVrnePIfgdNEVqYnWlWxW5ok8wh3cPDUYxg",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PSiIF84BsVrnePIfgdNEVqYnWlWxW5ok8wh3cPDUYxg/edit?usp=drivesdk",
            "cachedResultName": "CVs"
          }
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "csiCs0Ukgbs3jYYk",
            "name": "Calvin"
          }
        },
        "typeVersion": 4.6
      },
      {
        "id": "05672977-b212-4dc6-9315-9d2c191c43a6",
        "cid": "Ikx1Y2FzIFBleXJpbiI",
        "name": "JSON Output Parser",
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "notes": "© 2025 Lucas Peyrin",
        "creator": "Lucas Peyrin",
        "position": [
          -176,
          960
        ],
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"qualificationRate\": {\n      \"type\": \"number\",\n      \"description\": \"The qualification rate, typically a number between 0 and 1 or a percentage.\"\n    },\n    \"explanation\": {\n      \"type\": \"string\",\n      \"description\": \"A textual explanation or description of the qualification rate.\"\n    }\n  },\n  \"required\": [\n    \"qualificationRate\",\n    \"explanation\"\n  ],\n  \"additionalProperties\": false\n}"
        },
        "typeVersion": 1.3
      },
      {
        "id": "e94d6fac-a882-4573-a52d-11a90b15302f",
        "cid": "Ikx1Y2FzIFBleXJpbiI",
        "name": "Gemini 2.5 Flash Lite",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "notes": "© 2025 Lucas Peyrin",
        "creator": "Lucas Peyrin",
        "position": [
          -512,
          944
        ],
        "parameters": {
          "options": {
            "temperature": 0.4
          },
          "modelName": "models/gemini-2.5-flash-lite"
        },
        "credentials": {
          "googlePalmApi": {
            "id": "Tfw18hAjsu3IwEqi",
            "name": "Google Gemini(PaLM) Api account"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "7f185e06-146b-4949-a2b9-c840f1fbf556",
        "cid": "Ikx1Y2FzIFBleXJpbiI",
        "name": "Create 'CVs' Spreadsheet",
        "type": "n8n-nodes-base.googleSheets",
        "notes": "© 2025 Lucas Peyrin",
        "creator": "Lucas Peyrin",
        "position": [
          -1328,
          704
        ],
        "parameters": {
          "title": "CVs",
          "options": {},
          "resource": "spreadsheet",
          "sheetsUi": {
            "sheetValues": [
              {
                "title": "FullName"
              },
              {
                "title": "Email"
              },
              {
                "title": "QualificationRate"
              },
              {
                "title": "QualificationDescription"
              }
            ]
          }
        },
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "csiCs0Ukgbs3jYYk",
            "name": "Calvin"
          }
        },
        "typeVersion": 4.6
      },
      {
        "id": "21587944-8fd4-4583-8697-a7bf04441850",
        "cid": "Ikx1Y2FzIFBleXJpbiI",
        "name": "Sticky Note12",
        "type": "n8n-nodes-base.stickyNote",
        "notes": "© 2025 Lucas Peyrin",
        "creator": "Lucas Peyrin",
        "position": [
          -1024,
          608
        ],
        "parameters": {
          "color": 7,
          "width": 300,
          "height": 268,
          "content": "💡 Later, activate this workflow and share the public form URL to let candidates share their CV!"
        },
        "typeVersion": 1
      },
      {
        "id": "f7e475cb-a354-4e10-9bc1-662cc81d13df",
        "cid": "Ikx1Y2FzIFBleXJpbiI",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "notes": "© 2025 Lucas Peyrin",
        "creator": "Lucas Peyrin",
        "position": [
          -624,
          912
        ],
        "parameters": {
          "color": 7,
          "width": 294,
          "height": 316,
          "content": "\n\n\n\n\n\n\n\n\n\n\n\n1. [In Google AI Studio](https://aistudio.google.com/app/apikey) click **“Create API key in new project”** and copy it.\n\n2. Open the ```Connect Gemini``` node:\n   * **Select Credential → Create New**\n   * Paste into **API Key** and **Save**\n"
        },
        "typeVersion": 1
      },
      {
        "id": "d75d53de-6040-4620-b102-0621829c0666",
        "cid": "Ikx1Y2FzIFBleXJpbiI",
        "name": "AI Qualification",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "notes": "© 2025 Lucas Peyrin",
        "creator": "Lucas Peyrin",
        "position": [
          -416,
          704
        ],
        "parameters": {
          "text": "=<objectif>\nVotre objectif principal est d'évaluer le CV d'un candidat par rapport aux exigences du poste fournies pour le poste de développeur front-end senior. Vous devez déterminer si le prospect est qualifié et produire une sortie JSON brute contenant un score de qualification et une explication détaillée et fondée sur des preuves pour ce score.\n</objectif>\n\n<contexte>\n<job_requirements>\n\n# Profil de poste : Développeur frontend senior\n\nTitre du poste : Développeur front-end senior\nEmplacement : à distance (basé aux États-Unis)\n\nÀ propos du rôle :\nNous recherchons un développeur frontend senior expérimenté et passionné pour rejoindre notre équipe produit principale. Vous serez responsable de la création et de la maintenance des composants destinés aux utilisateurs de notre plateforme SaaS phare, garantissant une expérience utilisateur transparente, réactive et performante. Vous collaborerez en étroite collaboration avec les concepteurs UI/UX, les chefs de produit et les ingénieurs backend pour donner vie à de nouvelles fonctionnalités et encadrer les autres développeurs de l'équipe.\n\nResponsabilités clés :\n- Développer, tester et déployer des applications Web de haute qualité, évolutives et conviviales à l'aide de React et TypeScript.\n- Collaborer avec des équipes interfonctionnelles pour définir, concevoir et livrer de nouvelles fonctionnalités.\n- Encadrer les développeurs juniors et intermédiaires à travers des révisions de code, de la programmation en binôme et des conseils techniques.\n- Optimisez les applications pour une vitesse, une évolutivité et une accessibilité maximales.\n- Assurer la faisabilité technique des conceptions UI/UX et maintenir un haut niveau de qualité du code.\n- Restez à jour avec les technologies émergentes et plaidez en faveur de leur adoption là où cela a du sens.\n\n# CRITÈRES D'ÉVALUATION\n\n## Exigences de base (indispensables)\n\n- Expérience : 5+ années d'expérience professionnelle dans le développement frontend.\n- Leadership de projet : expérience avérée dans la direction de projets frontend de la conception à l'achèvement.\n- JavaScript/TypeScript : maîtrise de niveau expert en JavaScript moderne (ES6+) et TypeScript.\n- Expertise en framework : expérience approfondie et pratique avec React.\n- Gestion d'état : Forte expérience avec les bibliothèques de gestion d'état telles que Redux, Zustand ou React Query.\n- Style : maîtrise du CSS moderne, y compris CSS-in-JS (par exemple, Styled Components) ou CSS utilitaire (par exemple, Tailwind CSS).\n- Intégration API : vaste expérience dans la consommation d'API RESTful ou GraphQL.\n- Tests : solide expérience avec les frameworks de tests frontaux tels que Jest et React Testing Library.\n- Contrôle de version : Maîtrise de Git et des workflows collaboratifs (ex. GitFlow).\n- Communication : Excellentes compétences en communication écrite et verbale (évaluées par la clarté et le professionnalisme du CV).\n\n## Qualifications préférées (Nice-to-Haves)\n\n- Meta-Frameworks : Expérience avec Next.js ou un framework similaire.\n- Connaissance du backend : Familiarité avec Node.js et le développement côté serveur.\n- CI/CD : Expérience dans la mise en place et la maintenance de pipelines CI/CD (par exemple, GitHub Actions, Vercel).\n- Sens du design : un sens aigu du design UI/UX.\n- Performance Tuning : Expérience avec des outils d'optimisation des performances Web comme Lighthouse.\n\n</job_requirements>\n\n<qualification>\n# Comment j'évalue\nJe fonctionne sur la base d'un ensemble strict de critères d'évaluation prévus pour un rôle spécifique. Mon analyse se décompose en deux catégories principales : les « Exigences de base » (qui ne sont pas négociables) et les « Qualifications préférées » (qui font office de bonus). Mon résultat final est une note de qualification et une justification détaillée, citant des preuves spécifiques du CV du candidat.\n\n# Logique d'évaluation\n- Le `qualificationRate` est un score de 0,0 à 1,0.\n- Les **exigences de base** sont essentielles. Un candidat manquant une ou plusieurs exigences de base ne peut pas obtenir une note supérieure à 0,6. Un candidat répondant à toutes les exigences de base doit obtenir une note d'au moins 0,75.\n- Les **Qualifications préférées** sont des bonus. Chaque qualification préférée rencontrée ajoute au score, le rapprochant de 1,0.\n- L'« explication » doit être une analyse détaillée, point par point, justifiant la note en citant des preuves (ou leur absence) du CV pour chaque exigence.\n</qualification>\n</contexte>\n\n<format_sortie>\nVous devez produire un seul objet JSON brut. N'ajoutez aucun texte conversationnel, salutations ou explications en dehors de la structure JSON. L'objet JSON doit respecter strictement le format suivant :\n```json\n{\n  \"explication\": \"<chaîne>\",\n  \"qualificationRate\": <numéro>\n}\n```\n</format_sortie>\n</instructions>",
          "batching": {},
          "messages": {
            "messageValues": [
              {
                "message": "You are the AI Hiring Assistant, a specialized AI agent designed to meticulously analyze and evaluate candidate CVs against specific job requirements. Your personality is professional, objective, and detail-oriented. You provide clear, evidence-based assessments to support hiring decisions."
              }
            ]
          },
          "promptType": "define",
          "hasOutputParser": true
        },
        "typeVersion": 1.7
      }
    ],
    "pinData": {},
    "connections": {
      "Start Here": {
        "main": [
          [
            {
              "node": "Create 'CVs' Spreadsheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract CV Text": {
        "main": [
          [
            {
              "node": "AI Qualification",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Qualification": {
        "main": [
          [
            {
              "node": "Add CV Analysis",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Application Form": {
        "main": [
          [
            {
              "node": "Extract CV Text",
              "type": "main",
              "index": 0
            },
            {
              "node": "Log Candidate Submission",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "JSON Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "AI Qualification",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Gemini 2.5 Flash Lite": {
        "ai_languageModel": [
          [
            {
              "node": "AI Qualification",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}