public/templates/gnration-automatise-de-leads-et-envoi-de-mails-froid-avec-apify-ai-et-gmail.json
{
  "metadata": {
    "id": "010",
    "slug": "gnration-automatise-de-leads-et-envoi-de-mails-froid-avec-apify-ai-et-gmail",
    "title_en": "Automated Lead Generation & Cold Emailing with Apify, AI & Gmail",
    "title_fr": "Génération automatisée de leads et envoi d'e-mails à froid avec Apify, AI et Gmail",
    "description_short_en": "Automate lead generation for agencies—find business prospects, extract contacts, and send AI-crafted emails from one form. Discover smarter outreach!",
    "description_short_fr": "Automatisez la génération de leads pour les agences : trouvez des prospects commerciaux, extrayez des contacts et envoyez des e-mails créés par l'IA à partir d'un seul formulaire. Découvrez une sensibilisation plus intelligente !",
    "description_full_en": "Automated Lead Generation & Cold Emailing with Apify, AI & Gmail\n1. Workflow Overview\nThis workflow automates lead generation and cold emailing by integrating form input, web data scraping, AI-powered email content creation, and email dispatch via Gmail. It is designed for digital marketing agencies or sales teams aiming to streamline outreach to potential clients based on specified business types and locations.\nThe workflow is logically grouped into the following functional blocks:\n1.1 Input Reception:\nCaptures user input about the target business type, location, lead quantity, and email style through a web form.\n1.2 Lead Data Acquisition:\nSends a request to an Apify actor to scrape business leads based on the form input.\n1.3 Lead Filtering and Storage:\nFilters leads with valid websites and appends them to a Google Sheet for record-keeping.\n1.4 Email Address Extraction:\nUses Google Gemini AI to extract the best email address from each lead’s website.\n1.5 Email Generation:\nUtilizes OpenAI GPT-4 to generate personalized cold email subject lines and bodies based on lead details and selected email style.\n1.6 Email Sending and Logging:\nSends the generated emails via Gmail, waits between sends to avoid spam detection, and updates the Google Sheet with email send status and timestamp.\n2. Block-by-Block Analysis\n2.1 Input Reception\nOverview:\nCaptures form inputs specifying the lead search criteria: business type, location, number of leads, and preferred email style.\nNodes Involved:\nOn form submission\nSticky Note (\"# Business Data\")\nNode Details:\nOn form submission\nType:\nformTrigger\n(Webhook trigger node)\nConfiguration: Custom form titled \"Lead Machine\" with required fields: Business Type (text), Location (text), Lead Number (numeric), and Email Style (dropdown with Friendly, Professional, Simple)\nInput: User HTTP POST submission\nOutput: JSON containing form values\nEdge Cases: Missing required fields block submission; malformed input possible if form validation fails.\nSticky Note\nProvides a visual label for the block; no functional role.\n2.2 Lead Data Acquisition\nOverview:\nSends an HTTP POST request to an Apify actor endpoint that scrapes leads based on input criteria, returning business data.\nNodes Involved:\nHTTP Request\nNode Details:\nHTTP Request\nType: HTTP Request node\nConfiguration:\nURL: Dynamic, replaced with\nApify_Actor_Endpoint_URL\nenvironment/credential variable\nMethod: POST\nBody: JSON containing parameters such as location, business type (searchStringsArray), max leads, and scraping options (mostly false except\nscrapeReviewsPersonalData\n)\nInput: JSON from form submission node\nOutput: JSON array with business leads data, including website, address, category, title, and phone number\nEdge Cases: Network errors, invalid Apify endpoint URL, or empty response if no leads found.\n2.3 Lead Filtering and Storage\nOverview:\nFilters leads to only those containing a website URL and appends these filtered leads to a Google Sheet.\nNodes Involved:\nFilter\nAppend row in sheet\nSticky Note (\"# Getting the Email Address\")\nNode Details:\nFilter\nType: Filter node\nConfiguration: Checks if the\nwebsite\nproperty exists and is non-empty in the lead data.\nInput: Leads array from HTTP Request\nOutput: Leads with valid websites (true branch), or discarded leads (false branch)\nEdge Cases: Leads without websites are ignored; expression errors if\nwebsite\nfield missing or malformed.\nAppend row in sheet\nType: Google Sheets node\nConfiguration: Appends lead details (Address, Website, Category, Company Name, Email Address (initially empty), Phone Number) to Sheet1 of a specified Google Sheet document ID.\nInput: Filtered lead data\nOutput: Confirmation of append operation\nCredentials: Google Sheets OAuth2 configured externally\nEdge Cases: Sheet access permission errors, API quota limits, or malformed data mapping.\nSticky Note\nLabels the processing block for clarity.\n2.4 Email Address Extraction\nOverview:\nFor each lead with a website, uses Google Gemini AI to scrape and extract the best email address from the website content.\nNodes Involved:\nLoop Over Items\nInformation Extractor (Google Gemini Chat Model)\nIf (valid email address check)\nNode Details:\nLoop Over Items\nType: SplitInBatches\nConfiguration: Iterates over each lead row appended to Google Sheets\nEdge Cases: Large lead counts may require batch size tuning to avoid timeouts.\nInformation Extractor\nType: LangChain Information Extractor with Google Gemini Chat Model\nConfiguration: Extracts a single, ideally formatted \"Email Address\" attribute from the website field JSON.\nInput: Lead website string\nOutput: JSON with extracted \"Email Address\"\nCredentials: Google Gemini API key required\nEdge Cases: Failure to find an email, malformed website URLs, API quota or connectivity issues.\nIf\nType: Conditional node\nConfiguration: Passes only leads where extracted email contains \"@\" symbol to next step; otherwise ends flow for that lead.\nEdge Cases: False positives or invalid emails may proceed; no email leads skipped.\n2.5 Email Generation\nOverview:\nGenerates personalized cold email subject and body using OpenAI GPT-4 based on lead details and chosen email style.\nNodes Involved:\nWait\nInformation Extractor1 (OpenAI Chat Model)\nEdit Fields1\nNode Details:\nWait\nType: Wait node\nConfiguration: 1-second delay between email generation for rate limiting and API pacing.\nEdge Cases: Minimal risk, but long runs may accumulate delay.\nInformation Extractor1\nType: LangChain Information Extractor with OpenAI Chat Model (GPT-4 mini)\nConfiguration:\nInput prompt includes company name, business type, and email style from form input.\nInstructions specify tone, greeting format, plural pronouns, professional and concise style, and signature format.\nOutputs required: \"Mail Subject\" and \"Mail Body\" (cold email content).\nCredentials: OpenAI API key required\nEdge Cases: Model errors, API limits, or unexpected prompt results.\nEdit Fields1\nType: Set node\nConfiguration: Adds current send time (formatted) and email address to the data object for logging.\nEdge Cases: Time formatting errors unlikely.\n2.6 Email Sending and Logging\nOverview:\nSends the generated cold email via Gmail and updates the Google Sheet with send time and status.\nNodes Involved:\nSend a message (Gmail)\nAppend or update row in sheet\nNo Operation, do nothing\nSticky Notes (\"# Email Send\" and setup guide notes)\nNode Details:\nSend a message\nType: Gmail node\nConfiguration:\nSends email to the extracted email address\nUses subject and message body from the OpenAI-generated content\nEmail format: plain text\nRetry on error: no; max 2 tries\nCredentials: Gmail OAuth2 configured externally\nEdge Cases: Gmail API limits, invalid email addresses, or send failures; node set to continue on error.\nAppend or update row in sheet\nType: Google Sheets node\nConfiguration: Updates the lead’s row by matching on \"Email Address\" with status \"✅\" and current \"SEND Time\" in the sheet.\nEdge Cases: Sheet update conflicts or access errors.\nNo Operation, do nothing\nType: NoOp node\nRole: Ends flow for leads without valid emails; no action taken.\nSticky Notes\nVisual guides for email sending section and setup instructions including links and tutorial video.\n3. Summary Table\nNode Name\nNode Type\nFunctional Role\nInput Node(s)\nOutput Node(s)\nSticky Note\nOn form submission\nformTrigger\nCapture user input from lead form\n-\nHTTP Request\n# Business Data\nHTTP Request\nhttpRequest\nScrape lead data from Apify actor\nOn form submission\nFilter\nFilter\nfilter\nFilter leads that have websites\nHTTP Request\nAppend row in sheet, NoOp\nAppend row in sheet\ngoogleSheets\nStore filtered leads in Google Sheet\nFilter\nLoop Over Items\n# Getting the Email Address\nLoop Over Items\nsplitInBatches\nIterate over stored leads\nAppend row in sheet\nWait, (empty branch)\n# Getting the Email Address\nWait\nwait\nDelay between email generations\nLoop Over Items\nInformation Extractor1\n# Email Send\nInformation Extractor\nlangchain.informationExtractor (Google Gemini)\nExtract email address from website\nFilter\nIf\n# Getting the Email Address\nIf\nif\nCheck if extracted email is valid\nInformation Extractor\nAppend row in sheet, NoOp\nInformation Extractor1\nlangchain.informationExtractor (OpenAI GPT-4)\nGenerate cold email subject and body\nWait\nEdit Fields1\n# Email Send\nEdit Fields1\nset\nAdd send time and email address info\nInformation Extractor1\nSend a message\n# Email Send\nSend a message\ngmail\nSend cold email via Gmail\nEdit Fields1\nAppend or update row in sheet\n# Email Send\nAppend or update row in sheet\ngoogleSheets\nUpdate lead status and timestamp\nSend a message\nLoop Over Items\n# Email Send\nNo Operation, do nothing\nnoOp\nEnd flow for leads without valid email\nFilter, If\n-\nGoogle Gemini Chat Model\nlangchain.lmChatGoogleGemini\nAI model for email extraction\nInformation Extractor\nInformation Extractor\nOpenAI Chat Model\nlangchain.lmChatOpenAi\nAI model for cold email generation\nInformation Extractor1\nInformation Extractor1\nSticky Note\nstickyNote\nVisual notes for sections and guides\n-\n-\nMultiple sticky notes with setup guide and tutorial video links:\nhttps://youtu.be/3UwutV1x3mA\n4. Reproducing the Workflow from Scratch\nCreate Form Trigger Node\nType:\nformTrigger\nConfigure form titled \"Lead Machine\" with fields:\nBusiness Type (text, required)\nLocation (text, required)\nLead Number (number, required)\nEmail Style (dropdown: Friendly, Professional, Simple)\nSet button label to \"GO 🚀\" and disable attribution.\nAdd HTTP Request Node\nConnect from Form Trigger\nMethod: POST\nURL: Set to your Apify actor endpoint URL (replace placeholder\nApify_Actor_Endpoint_URL\n)\nBody Type: JSON\nBody Content: Pass form data parameters dynamically:\nlocationQuery\n:\n{{ $json.Location }}\nmaxCrawledPlacesPerSearch\n:\n{{ $json['Lead Number'] }}\nsearchStringsArray\n:\n[ \"{{ $json['Business Type'] }}\" ]\nOther scraping options set as per workflow.\nAdd Filter Node\nConnect from HTTP Request\nCondition: Check if\nwebsite\nfield exists and is non-empty (\nexists\n, strict, case-sensitive).\nTrue branch leads to Append row in sheet; False branch leads to No Operation.\nAdd Google Sheets Append Row Node\nConnect from Filter (true branch)\nDocument ID: Your target Google Sheet ID\nSheet Name: Sheet1 or your chosen sheet\nMap columns for company details (Company Name, Website, Phone Number, Address, Category) and empty Email Address field.\nAdd SplitInBatches Node (\"Loop Over Items\")\nConnect from Append row in sheet\nDefault batch size or configure as needed.\nAdd Wait Node\nConnect from Loop Over Items\nSet delay to 1 second.\nAdd Information Extractor Node (Google Gemini)\nConnect from Wait\nConfigure LangChain Information Extractor to extract \"Email Address\" from website text:\nInput:\nWebsite: {{ $json.website }}\nAttribute: \"Email Address\" required, description to find best formatted email address from website.\nAdd If Node\nConnect from Information Extractor (Google Gemini)\nCondition: Check if extracted \"Email Address\" contains \"@\"\nOn If True branch:\nConnect to Loop Over Items to continue processing\nConnect also to Information Extractor1 (OpenAI GPT-4 node)\nAdd Information Extractor1 Node (OpenAI GPT-4)\nConnect from Wait node (or from If true branch, depending on design)\nConfigure prompt with company data and email style to generate \"Mail Subject\" and \"Mail Body\".\nUse GPT-4 mini or equivalent model.\nAdd Set Node (Edit Fields1)\nConnect from Information Extractor1\nAdd fields:\nSend Time: current timestamp formatted as MM-dd-yyyy (h:mm a)\nEmail Address: from Wait node data\nAdd Gmail Send Node\nConnect from Edit Fields1\nConfigure to send email:\nTo:\n{{ $json['Email Address'] }}\nSubject:\n{{ $('Information Extractor1').item.json.output['Mail Subject'] }}\nMessage:\n{{ $('Information Extractor1').item.json.output['Mail Body'] }}\nEmail type: text\nSet max tries to 2; continue on error.\nAdd Google Sheets Append or Update Row Node\nConnect from Gmail Send Node\nConfigure to update lead row matching on \"Email Address\" with:\nCold Mail Status: \"✅\"\nSEND Time: from Edit Fields1 node\nAdd No Operation Node\nConnect from Filter false branch and If false branch to end flow for leads without website or valid email.\nSetup Credentials:\nGoogle Sheets OAuth2 with access to target sheet\nGmail OAuth2 with send mail permission\nOpenAI API key for GPT-4 usage\nGoogle Gemini API key for email extraction\nAdd Sticky Notes for Documentation:\nAdd visual sticky notes labeling blocks: Business Data, Getting the Email Address, Email Send, and Setup Guide with embedded tutorial video link:\nhttps://youtu.be/3UwutV1x3mA\n5. General Notes & Resources\nNote Content\nContext or Link\nVideo tutorial on creating this automated lead finder and cold email system with AI agents.\nhttps://youtu.be/3UwutV1x3mA\nSetup guide notes embedded in workflow explain how to configure Apify endpoint, Google Gemini, Google Sheets, OpenAI, and Gmail integration.\nWorkflow sticky notes\nWorkflow respects data privacy by selectively scraping publicly available business data and sending cold emails only after email address extraction and validity checks.\nWorkflow design principle\nGoogle Sheets columns required: Company Name, Category, Website, Phone Number, Email Address, Address, Cold Mail Status, SEND Time.\nGoogle Sheets configuration\nUse of AI models: Google Gemini for email extraction from website text; OpenAI GPT-4 for email content generation.\nNode details\nRetry and error handling: Gmail sending node retries twice and continues on failure; no operation nodes terminate flows cleanly for invalid data.\nNode configurations\nThis document enables clear understanding, modification, and manual recreation of the Automated Lead Generation & Cold Emailing workflow using n8n, supporting both human operators and integration automation tools.\nCopied to clipboard",
    "description_full_fr": "### 1. Scraping des leads (Apify + Google Maps)\n\n**Input :** Un secteur + une ville.\nExemple : \"Restaurants Paris 15ème\"\n\n**Ce qui se passe :**\n- Apify lance un scraper Google Maps\n- Récupère pour chaque business :\n  - Nom\n  - Adresse\n  - Téléphone\n  - Site web\n  - Catégorie (type de business)\n  - Note Google (rating)\n\n**Output :** Une liste de 50-500 leads bruts.\n\n**Pourquoi Google Maps ?** Parce que les locaux y sont TOUS. LinkedIn = seulement les gros. Google Maps = le boulanger du coin aussi.",
    "category": "AI",
    "complexity": "Advanced",
    "tags_en": [],
    "tags_fr": [],
    "author": "Rakin Jakaria",
    "date": "Unknown",
    "url_original": "https://n8nworkflows.xyz/workflows/automated-lead-generation-cold-emailing-with-apify-ai-gmail-7423",
    "nodes_count": 20,
    "sections": {
      "why": "",
      "description": "### 1. Scraping des leads (Apify + Google Maps)\n\n**Input :** Un secteur + une ville.\nExemple : \"Restaurants Paris 15ème\"\n\n**Ce qui se passe :**\n- Apify lance un scraper Google Maps\n- Récupère pour chaque business :\n  - Nom\n  - Adresse\n  - Téléphone\n  - Site web\n  - Catégorie (type de business)\n  - Note Google (rating)\n\n**Output :** Une liste de 50-500 leads bruts.\n\n**Pourquoi Google Maps ?** Parce que les locaux y sont TOUS. LinkedIn = seulement les gros. Google Maps = le boulanger du coin aussi.",
      "installation": "### Prérequis\n- [ ] n8n installé\n- [ ] Compte Apify (gratuit : $5 de crédits offerts)\n- [ ] Compte Gmail dédié cold email (pas ton Gmail perso)\n- [ ] API Key OpenAI (GPT-4)\n- [ ] Google Sheets pour tracker les envois",
      "usage": "### Scénario 1 : Agence web prospection locaux\n**Situation :** Tu vends des sites web aux restaurants/coiffeurs sans site.\n\n**Setup :**\n1. Modifie le prompt GPT :\n```\nPain point : \"Pas de site web moderne\" ou \"Site obsolète\"\nOffre : Création site vitrine 3 pages en 7 jours\nPrix : À partir de €990\n```\n\n2. Input Apify : \"Restaurants [Ta ville]\" + filtre \"Pas de site web\"\n3. Lance le workflow : 50 leads/jour\n\n**Résultat automatique :**\n- 50 cold emails envoyés/jour\n- Taux d'ouverture : 35-40%\n- Taux de réponse : 5-8% (2-4 leads chauds/jour)\n- 1 signature tous les 2 jours = 15 clients/mois\n\n**ROI :** Site vendu €990, coût workflow €5 = €985 de marge par client.\n\n---",
      "tips": "**Segmente tes audiences**\n\nNe mets pas tous les secteurs dans le même sac. Crée des workflows séparés :\n- Workflow 1 : Restaurants (pain point : avis Google)\n- Workflow 2 : Coiffeurs (pain point : prise de RDV en ligne)\n- Workflow 3 : Commerces (pain point : visibilité locale)\n\n**Teste les objets d'email**\n\nL'objet = 50% du taux d'ouverture. Teste 3-4 versions :\n- ❌ \"Proposition de collaboration\"\n- ✅ \"Question rapide sur [Business name]\"\n- ✅ \"[Pain point] pour votre [Type business]\"\n\n**Follow-up = 70% des conversions**\n\nAjoute un node \"Follow-up après 3 jours\" :\n```\nBonjour,\n\nJe rebondis sur mon message de [Date].\n\nPas sûr que vous l'ayez vu avec la charge de travail.\n\nToujours partant pour échanger 15 min sur [Sujet] ?\n\n[Signature]\n```\n\n**Évite le spam folder**\n\n- Max 50 emails/jour par Gmail\n- Varie les templates (pas de copier-coller détectable)\n- Ajoute un lien \"Unsubscribe\" (conformité RGPD)\n- Réchauffe le compte Gmail 1 semaine avant (envoie 5-10 emails perso)\n\n**Utilise un domaine dédié**\n\nSi tu scales à 200+ emails/jour, achète un domaine dédié (ex: outreach.tonentreprise.com) et utilise Google Workspace. Coût : €6/mois. Protège ton domaine principal.\n\n---",
      "learning": ""
    }
  },
  "workflow_json": {
    "id": "c8SrVtTq7YyxoLlO",
    "meta": {
      "instanceId": "061ca141d020a6e1355b8c7fe05f92a699e37e92079ad2e150a506ee8bbe9e11"
    },
    "name": "AI Lead Machine Agent",
    "tags": [],
    "nodes": [
      {
        "id": "49a75edf-736f-4054-aea8-8a24c159f27b",
        "name": "On form submission",
        "type": "n8n-nodes-base.formTrigger",
        "position": [
          64,
          96
        ],
        "webhookId": "2ef0c938-f117-4f6c-840a-b2dc35a615b3",
        "parameters": {
          "options": {
            "buttonLabel": "GO 🚀",
            "appendAttribution": false
          },
          "formTitle": "Lead Machine",
          "formFields": {
            "values": [
              {
                "fieldLabel": "Business Type",
                "placeholder": "e.g. Plumber",
                "requiredField": true
              },
              {
                "fieldLabel": "Location",
                "placeholder": "e.g. Rome, Italy",
                "requiredField": true
              },
              {
                "fieldType": "number",
                "fieldLabel": "Lead Number",
                "requiredField": true
              },
              {
                "fieldType": "dropdown",
                "fieldLabel": "Email Style",
                "fieldOptions": {
                  "values": [
                    {
                      "option": "Friendly"
                    },
                    {
                      "option": "Professional"
                    },
                    {
                      "option": "Simple"
                    }
                  ]
                }
              }
            ]
          },
          "formDescription": "Provide the Info Below"
        },
        "typeVersion": 2.2
      },
      {
        "id": "2294be1e-b7e7-437a-ba31-322bf4c7065f",
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          320,
          96
        ],
        "parameters": {
          "url": "=Apify_Actor_Endpoint_URL",
          "options": {},
          "jsonBody": "={\n    \"includeWebResults\": false,\n    \"language\": \"en\",\n    \"locationQuery\": \"{{ $json.Location }}\",\n    \"maxCrawledPlacesPerSearch\": {{ $json['Lead Number'] }},\n    \"maxImages\": 0,\n    \"maximumLeadsEnrichmentRecords\": 0,\n    \"scrapeContacts\": false,\n    \"scrapeDirectories\": false,\n    \"scrapeImageAuthors\": false,\n    \"scrapePlaceDetailPage\": false,\n    \"scrapeReviewsPersonalData\": true,\n    \"scrapeTableReservationProvider\": false,\n    \"searchStringsArray\": [\n        \"{{ $json['Business Type'] }}\"\n    ],\n    \"skipClosedPlaces\": false\n}",
          "sendBody": true,
          "specifyBody": "json"
        },
        "typeVersion": 4.2
      },
      {
        "id": "51ab8621-f27b-435e-8621-2237df7b16d8",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "parameters": {
          "color": 3,
          "width": 752,
          "height": 336,
          "content": "# Business Data"
        },
        "typeVersion": 1
      },
      {
        "id": "571cd0ce-4578-4e7a-8a92-647ef4662d3b",
        "name": "Information Extractor",
        "type": "@n8n/n8n-nodes-langchain.informationExtractor",
        "position": [
          -64,
          448
        ],
        "parameters": {
          "text": "=Site Web : {{ $json.website }}",
          "options": {},
          "attributes": {
            "attributes": [
              {
                "name": "Email Address",
                "required": true,
                "description": "=find out the best only one email address from the website after scraping the website. The mail address have to be in ideal format."
              }
            ]
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "0d5da717-af00-429f-91aa-cf09402341e0",
        "name": "Google Gemini Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "position": [
          32,
          592
        ],
        "parameters": {
          "options": {}
        },
        "typeVersion": 1
      },
      {
        "id": "f1cc441c-8138-4038-a5bf-b243f830d2ea",
        "name": "Filter",
        "type": "n8n-nodes-base.filter",
        "position": [
          576,
          96
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "0906e21a-0958-433e-b400-8694915ef3c9",
                "operator": {
                  "type": "string",
                  "operation": "exists",
                  "singleValue": true
                },
                "leftValue": "={{ $json.website }}",
                "rightValue": ""
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "e3f168e5-4330-4ee7-ba4e-52df7d58f120",
        "name": "Append row in sheet",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          640,
          432
        ],
        "parameters": {
          "columns": {
            "value": {
              "Address": "={{ $('Filter').item.json.address }}",
              "Website": "={{ $('Filter').item.json.website }}",
              "Category": "={{ $('Filter').item.json.categoryName }}",
              "Company Name": "={{ $('Filter').item.json.title }}",
              "Email Address": "={{ $json.output['Email Address'] }}",
              "Phone Nummber": "={{ $('Filter').item.json.phoneUnformatted }}"
            },
            "schema": [
              {
                "id": "Company Name",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Company Name",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Category",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Category",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Website",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Website",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Phone Nummber",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Phone Nummber",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Email Address",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Email Address",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Address",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Address",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Cold Mail Status",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Cold Mail Status",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "SEND Time",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "SEND Time",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {},
          "operation": "append",
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "gid=0",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LmOvSzCOAlrgxQg5r77eVkyJWw3V0VDUAWgkoHWql1Y/edit#gid=0",
            "cachedResultName": "Sheet1"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "1LmOvSzCOAlrgxQg5r77eVkyJWw3V0VDUAWgkoHWql1Y",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LmOvSzCOAlrgxQg5r77eVkyJWw3V0VDUAWgkoHWql1Y/edit?usp=drivesdk",
            "cachedResultName": "n8n Test"
          }
        },
        "typeVersion": 4.6
      },
      {
        "id": "0a3d98f3-2446-4491-9e86-f97759765b4a",
        "name": "If",
        "type": "n8n-nodes-base.if",
        "position": [
          352,
          448
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "0601f2d2-2522-471e-9e11-29498a47e19a",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                },
                "leftValue": "={{ $json.output['Email Address'] }}",
                "rightValue": "@"
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "fd369959-451a-4e86-b988-4e233a5e2904",
        "name": "No Operation, do nothing",
        "type": "n8n-nodes-base.noOp",
        "position": [
          640,
          608
        ],
        "parameters": {},
        "typeVersion": 1
      },
      {
        "id": "b9fea00f-fdef-4e75-82b3-283ef4ecb651",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -192,
          368
        ],
        "parameters": {
          "color": 4,
          "width": 1136,
          "height": 368,
          "content": "# Getting the Email Address"
        },
        "typeVersion": 1
      },
      {
        "id": "87b79200-12c4-43a9-97c8-72727e73bf11",
        "name": "Send a message",
        "type": "n8n-nodes-base.gmail",
        "onError": "continueRegularOutput",
        "maxTries": 2,
        "position": [
          992,
          864
        ],
        "webhookId": "9ce15ceb-1aeb-4dd7-b269-f981f431c05f",
        "parameters": {
          "sendTo": "={{ $json['Email Address'] }}",
          "message": "={{ $('Information Extractor1').item.json.output['Corps du courrier'] }}",
          "options": {
            "appendAttribution": false
          },
          "subject": "={{ $('Information Extractor1').item.json.output['Mail Subject'] }}",
          "emailType": "text"
        },
        "executeOnce": false,
        "retryOnFail": false,
        "typeVersion": 2.1
      },
      {
        "id": "db871413-4d1c-4d9f-be82-f5b938baa7b1",
        "name": "Information Extractor1",
        "type": "@n8n/n8n-nodes-langchain.informationExtractor",
        "position": [
          352,
          864
        ],
        "parameters": {
          "text": "=Vous êtes un générateur de courrier froid parfait pour une agence de marketing numérique nommée Upward Engine.\n\nVoici les informations sur le destinataire :\n\nNom de l'entreprise : {{ $('Loop Over Items').item.json['Company Name'] }}\nType d'activité : {{ $('Loop Over Items').item.json.Category }}\n\nStyle d'e-mail / Ajustement de l'e-mail : {{ $json['Style d'e-mail'] }}\n\nLe style d'e-mail est donné juste pour comprendre à quoi ressemblera le courrier.\n\nConsignes :\n\n1. Commencez toujours par saluer l'entreprise comme Salut Nom de l'entreprise,\n2. Utilisez toujours Nous et non Moi.\n3. Le courrier doit être professionnel, propre et précis\n4. Enfin, donnez une signature comme :\n   [Votre nom]\n  [Nom de votre entreprise/agence]",
          "options": {},
          "attributes": {
            "attributes": [
              {
                "name": "Mail Subject",
                "required": true,
                "description": "Eye catchy mail Subject for the cold mail"
              },
              {
                "name": "Mail Body",
                "required": true,
                "description": "=body message of the mail, a perfect and clear cold mail."
              }
            ]
          }
        },
        "typeVersion": 1.2
      },
      {
        "id": "325cc956-c3b8-4222-bdd6-0712d9061f99",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "position": [
          448,
          992
        ],
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4.1-mini"
          },
          "options": {}
        },
        "typeVersion": 1.2
      },
      {
        "id": "8b727879-86bf-411e-a0b0-7cf4e55be0e5",
        "name": "Append or update row in sheet",
        "type": "n8n-nodes-base.googleSheets",
        "position": [
          1248,
          864
        ],
        "parameters": {
          "columns": {
            "value": {
              "SEND Time": "={{ $('Edit Fields1').item.json['Send Time'] }}",
              "Email Address": "={{ $('Edit Fields1').item.json['Email Address'] }}",
              "Cold Mail Status": "✅"
            },
            "schema": [
              {
                "id": "Company Name",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Company Name",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Category",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Category",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Website",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Website",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Phone Nummber",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Phone Nummber",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Email Address",
                "type": "string",
                "display": true,
                "removed": false,
                "required": false,
                "displayName": "Email Address",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Address",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Address",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "Cold Mail Status",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "Cold Mail Status",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              },
              {
                "id": "SEND Time",
                "type": "string",
                "display": true,
                "required": false,
                "displayName": "SEND Time",
                "defaultMatch": false,
                "canBeUsedToMatch": true
              }
            ],
            "mappingMode": "defineBelow",
            "matchingColumns": [
              "Email Address"
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {},
          "operation": "appendOrUpdate",
          "sheetName": {
            "__rl": true,
            "mode": "list",
            "value": "gid=0",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LmOvSzCOAlrgxQg5r77eVkyJWw3V0VDUAWgkoHWql1Y/edit#gid=0",
            "cachedResultName": "Sheet1"
          },
          "documentId": {
            "__rl": true,
            "mode": "list",
            "value": "1LmOvSzCOAlrgxQg5r77eVkyJWw3V0VDUAWgkoHWql1Y",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1LmOvSzCOAlrgxQg5r77eVkyJWw3V0VDUAWgkoHWql1Y/edit?usp=drivesdk",
            "cachedResultName": "n8n Test"
          }
        },
        "typeVersion": 4.6
      },
      {
        "id": "3dbfe1e8-1033-4d6c-b8c7-144341fe579e",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -656,
          768
        ],
        "parameters": {
          "color": 5,
          "width": 2096,
          "height": 448,
          "content": "# Email Send"
        },
        "typeVersion": 1
      },
      {
        "id": "57178d65-593e-44c9-91f5-b2b917b0a3cc",
        "name": "Edit Fields1",
        "type": "n8n-nodes-base.set",
        "position": [
          768,
          864
        ],
        "parameters": {
          "options": {},
          "assignments": {
            "assignments": [
              {
                "id": "8ab73a5e-6659-4615-9f03-a1b3dacaa42e",
                "name": "Send Time",
                "type": "string",
                "value": "={{$now.toFormat(\"MM-dd-yyyy (h:mm a)\")}}"
              },
              {
                "id": "a102af99-f990-4f54-aa19-96a4c8002a9b",
                "name": "Email Address",
                "type": "string",
                "value": "={{ $('Wait').item.json['Email Address'] }}"
              }
            ]
          }
        },
        "typeVersion": 3.4
      },
      {
        "id": "3e2a864f-9077-43a4-8b35-32a64201c03a",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "onError": "continueRegularOutput",
        "position": [
          -400,
          848
        ],
        "parameters": {
          "options": {}
        },
        "notesInFlow": false,
        "typeVersion": 3
      },
      {
        "id": "f13527f0-7873-4dd7-8c1a-c56d227fa171",
        "name": "Wait",
        "type": "n8n-nodes-base.wait",
        "position": [
          32,
          864
        ],
        "webhookId": "a8a457d5-f88d-451c-ac51-1af17c8435b0",
        "parameters": {
          "amount": 1
        },
        "typeVersion": 1.1
      },
      {
        "id": "9fbb652b-57aa-44fd-b40d-6a09b5792848",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1712,
          -16
        ],
        "parameters": {
          "width": 480,
          "height": 464,
          "content": "## Start here: Step-by Step Youtube Tutorial :star:\n\n[![I Built an Auto Lead Finder AI Agent](https://img.youtube.com/vi/3UwutV1x3mA/sddefault.jpg)](https://youtu.be/3UwutV1x3mA?si=FtH1dNr5dtnOFedD)"
        },
        "typeVersion": 1
      },
      {
        "id": "fdb08105-efcd-4e48-ba07-86aab936a2ef",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1696,
          544
        ],
        "parameters": {
          "width": 1200,
          "height": 672,
          "content": "\n\n---\n\n# 🛠 Setup Guide\n\nFollow these steps to get started:\n\n1. **Set up the Lead Machine Form**\n   Customize the form fields (Business Type, Location, Lead Number, Email Style) in the **Form Trigger** node. This is how you collect the target lead criteria.\n\n2. **Plug in your [Apify](https://apify.com/) API endpoint**\n   Replace `Apify_Actor_Endpoint_URL` in the **HTTP Request** node with your own Apify actor URL to scrape business data.\n\n3. **Add your [Google Gemini](https://aistudio.google.com/apikey) credentials**\n   This is used in the **Information Extractor** node to find the best email address from a business website.\n\n4. **Connect your [Google Sheets](https://docs.google.com/spreadsheets/)**\n   Link the sheet in both **Append row** and **Append/Update row** nodes. Make sure your sheet has columns for Company Name, Website, Phone, Email, Address, Category, Cold Mail Status, and Send Time.\n\n5. **Add your [OpenAI](https://platform.openai.com/) API key**\n   This powers the cold email generation in the **Information Extractor1** node for subject & body creation.\n\n6. **Connect your [Gmail](https://mail.google.com/) account**\n   In the **Send a message** node, link your Gmail account to send the cold emails automatically.\n\nOnce all connections are set, your workflow will **collect leads, store them, and send cold emails automatically** 🚀\n\n---\n"
        },
        "typeVersion": 1
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "004cb861-1063-4df9-81c8-972afc2160d3",
    "connections": {
      "If": {
        "main": [
          [
            {
              "node": "Append row in sheet",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Information Extractor1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter": {
        "main": [
          [
            {
              "node": "Information Extractor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          [
            {
              "node": "Send a message",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "Filter",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send a message": {
        "main": [
          [
            {
              "node": "Append or update row in sheet",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Information Extractor1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "On form submission": {
        "main": [
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Append row in sheet": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Information Extractor": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Information Extractor1": {
        "main": [
          [
            {
              "node": "Edit Fields1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Information Extractor",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Append or update row in sheet": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}