public/templates/gnrez-des-vidos-ia-amusantes-avec-sora-2-et-publiez-automatiquement-sur-tiktok.json
{
  "metadata": {
    "id": "003",
    "slug": "gnrez-des-vidos-ia-amusantes-avec-sora-2-et-publiez-automatiquement-sur-tiktok",
    "title_en": "Generate Funny AI Videos with Sora 2 and Auto-Publish to TikTok",
    "title_fr": "Générez des vidéos IA amusantes avec Sora 2 et publiez automatiquement sur TikTok",
    "description_short_en": "Automate AI-powered video creation and TikTok publishing with seamless integration, centralized control, and scalable social media management. Learn more.",
    "description_short_fr": "Automatisez la création vidéo basée sur l'IA et la publication TikTok avec une intégration transparente, un contrôle centralisé et une gestion évolutive des médias sociaux. Apprendre encore plus.",
    "description_full_en": "Generate Funny AI Videos with Sora 2 and Auto-Publish to TikTok\n1. Workflow Overview\nThis workflow automates the generation, processing, and publishing of AI-generated videos with audio using the OpenAI Sora 2 model, saving them to Google Drive, creating optimized video titles with GPT-5, and automatically uploading the final videos to TikTok via Postiz. It is designed to be triggered by a form submission, making it suitable for content creators or social media managers who want to streamline their video production and distribution process.\nLogical Blocks:\n1.1 Input Reception:\nCaptures user input (video prompt and duration) via a form trigger.\n1.2 AI Video Generation:\nSends the prompt to Sora 2 API to generate a video, then polls for completion.\n1.3 Video Retrieval:\nOnce the video is ready, fetches the video URL and downloads the video file.\n1.4 Title Generation:\nUses GPT-5 to generate an SEO-optimized YouTube-style title based on the prompt.\n1.5 Video Upload to TikTok:\nUploads the video to Postiz platform and schedules it for publishing on TikTok.\n1.6 Supporting Notes and Configuration:\nContains sticky notes with instructions for API key setup and workflow usage.\n2. Block-by-Block Analysis\n2.1 Input Reception\nOverview:\nThis block receives input data from a user form, specifically the video prompt and duration, serving as the workflow’s entry point.\nNodes Involved:\nOn form submission\nNode Details:\nOn form submission\nType: Form Trigger\nRole: Entry point to receive user inputs \"PROMPT\" (text) and \"DURATION\" (number).\nConfiguration:\nForm title: \"Generate AI Videos (with audio)\"\nForm fields: PROMPT (required), DURATION (required)\nWebhook ID configured for external trigger\nInputs: External HTTP form submission\nOutputs: JSON containing PROMPT and DURATION\nEdge Cases: Missing required fields; malformed input; webhook unavailability.\n2.2 AI Video Generation\nOverview:\nThis block sends the video prompt and duration to the Sora 2 API to create the video, then waits and polls the API for completion status.\nNodes Involved:\nCreate Video\nWait 60 sec.\nGet status\nCompleted?\nNode Details:\nCreate Video\nType: HTTP Request\nRole: Sends POST request to Sora 2 endpoint to initiate video generation.\nConfiguration:\nURL:\nhttps://queue.fal.run/fal-ai/sora-2/text-to-video\nMethod: POST\nBody: JSON with prompt and duration combined from form inputs\nAuthentication: Header Auth with API key (\"Authorization: Key YOURAPIKEY\")\nHeaders: Content-Type application/json\nInputs: JSON from form submission\nOutputs: JSON containing request_id for video generation\nEdge Cases: API key invalid, request limits, malformed prompt, network errors.\nWait 60 sec.\nType: Wait node\nRole: Pauses workflow for 60 seconds before polling status.\nConfiguration: Fixed 60-second wait\nInputs: Triggered after Create Video\nOutputs: Triggers Get status node\nEdge Cases: Time delays may cause workflow timeouts in low-resource environments.\nGet status\nType: HTTP Request\nRole: Polls the Sora 2 API to check the current status of video generation using request_id.\nConfiguration:\nURL template:\nhttps://queue.fal.run/fal-ai/sora-2/requests/{{request_id}}/status\nAuthentication: Header Auth with API key\nInputs: request_id from Create Video output\nOutputs: JSON with status field\nEdge Cases: API downtime, invalid request_id, response delays.\nCompleted?\nType: If node\nRole: Checks if the video generation status equals \"COMPLETED\" to proceed or wait longer.\nConfiguration: Condition on the \"status\" field\nInputs: Output from Get status\nOutputs:\nTrue: Continue to Get Url Video node\nFalse: Loop back to Wait 60 sec. node to poll again\nEdge Cases: Status values other than \"COMPLETED\" or unexpected API responses.\n2.3 Video Retrieval\nOverview:\nAfter video generation completes, this block obtains the video URL and downloads the video file.\nNodes Involved:\nGet Url Video\nGenerate title\nGet File Video\nNode Details:\nGet Url Video\nType: HTTP Request\nRole: Retrieves detailed video request information including video URL by request_id.\nConfiguration:\nURL template:\nhttps://queue.fal.run/fal-ai/sora-2/requests/{{request_id}}\nAuthentication: Header Auth with separate credential (note: uses \"Youtube Transcript Extractor API 1\" credential, likely a generic API key)\nInputs: request_id from Completed? node\nOutputs: JSON containing video metadata including video URL\nEdge Cases: API access errors, credential mismatch, missing video URL.\nGenerate title\nType: OpenAI (LangChain) node\nRole: Generates an SEO-optimized YouTube title using GPT-5 based on the original prompt.\nConfiguration:\nModel: gpt-4o-mini (GPT-5 equivalent or advanced variant)\nPrompt content: Input prompt text from original user input\nSystem message: Instructions to create catchy, SEO-friendly titles up to 60 characters, in the prompt’s language.\nInputs: PROMPT from Get Url Video or original form submission\nOutputs: Text response with generated title\nEdge Cases: API rate limits, prompt truncation, off-topic title generation.\nGet File Video\nType: HTTP Request\nRole: Downloads the actual video file from the video URL obtained.\nConfiguration:\nURL: Dynamic, taken from Get Url Video node output JSON path video.url\nMethod: GET\nNo authentication required\nInputs: video URL from Get Url Video\nOutputs: Binary video data ready for upload\nEdge Cases: Broken or inaccessible video URL, network timeouts, large file sizes.\n2.4 Video Upload to TikTok\nOverview:\nUploads the downloaded video file to Postiz (a social media publishing platform) and schedules it for TikTok publishing with the generated title.\nNodes Involved:\nUpload Video to Postiz\nTikTok\nNode Details:\nUpload Video to Postiz\nType: HTTP Request\nRole: Uploads the binary video file to Postiz storage.\nConfiguration:\nURL:\nhttps://api.postiz.com/public/v1/upload\nMethod: POST\nContent-Type: multipart/form-data\nBody: Binary data attached as \"file\" parameter\nAuthentication: Header Auth with Postiz API key\nInputs: Binary video from Get File Video\nOutputs: JSON with uploaded file ID and path\nEdge Cases: File size limits, authentication failure, network errors.\nTikTok\nType: Postiz node (custom)\nRole: Posts the uploaded video to TikTok with the generated title and scheduling.\nConfiguration:\nDate: Current date/time (dynamic)\nPost content:\nImage ID and path from Upload Video to Postiz response\nContent: Generated title from Generate title node\nIntegrationId: TikTok channel ID (to be set by user)\nShortLink: true (generate shortened links if applicable)\nCredentials: Postiz account API key\nInputs: Uploaded video metadata and generated title\nOutputs: Confirmation of post scheduling or publishing\nEdge Cases: Invalid channel ID, API quota limits, scheduling conflicts.\n2.5 Supporting Notes and Configuration\nOverview:\nProvides user guidance and setup instructions through sticky notes.\nNodes Involved:\nSticky Note3\nSticky Note5\nSticky Note6\nSticky Note7\nSticky Note8\nSticky Note (unnamed)\nNode Details:\nSticky Note3\nContent: Workflow description and overview, highlighting the use of Sora 2, Google Drive, GPT-5, TikTok, and form-based input.\nContext: General introduction\nSticky Note5\nContent: Instructions for workflow triggering (manual or scheduled every 5 minutes).\nContext: Scheduling recommendations\nSticky Note6\nContent: Instructions for obtaining the Fal.ai API key and setting HTTP header authentication in nodes.\nContext: API key setup\nSticky Note7\nContent: Reminder to set the API key in the respective node.\nContext: API key application\nSticky Note8\nContent: Postiz account creation, API key setup, channel connection, and obtaining ChannelId for TikTok.\nContext: TikTok publishing setup\nSticky Note (near TikTok node)\nContent: Reminder to set ChannelId in TikTok node.\nContext: TikTok integration detail\n3. Summary Table\nNode Name\nNode Type\nFunctional Role\nInput Node(s)\nOutput Node(s)\nSticky Note\nOn form submission\nForm Trigger\nReceives video prompt and duration\nCreate Video\nCreate Video\nHTTP Request\nSends prompt/duration to Sora 2\nOn form submission\nWait 60 sec.\nSet API Key created in Step 2\nWait 60 sec.\nWait\nWaits before polling status\nCreate Video\nGet status\nGet status\nHTTP Request\nPolls for video generation status\nWait 60 sec.\nCompleted?\nCompleted?\nIf\nChecks if video generation is done\nGet status\nGet Url Video / Wait 60 sec.\nGet Url Video\nHTTP Request\nGets video URL and metadata\nCompleted?\nGenerate title\nGenerate title\nOpenAI (LangChain)\nCreates SEO-friendly video title\nGet Url Video\nGet File Video\nGet File Video\nHTTP Request\nDownloads video file\nGenerate title\nUpload Video to Postiz\nUpload Video to Postiz\nHTTP Request\nUploads video to Postiz storage\nGet File Video\nTikTok\nTikTok\nPostiz\nPosts video to TikTok channel\nUpload Video to Postiz\nSet ChannelId Step 3\nSticky Note3\nSticky Note\nWorkflow overview and description\n# Generate AI Videos (with audio), using Sora 2 and Upload to TikTok...\nSticky Note5\nSticky Note\nScheduling instructions\n## STEP 3 - MAIN FLOW...\nSticky Note6\nSticky Note\nAPI key acquisition instructions\n## STEP 1 - GET API KEY (YOURAPIKEY)...\nSticky Note7\nSticky Note\nAPI key reminder\nSet API Key created in Step 2\nSticky Note8\nSticky Note\nPostiz and TikTok integration guide\n## STEP 2 - Upload video on TikTok...\nSticky Note (unnamed near TikTok)\nSticky Note\nTikTok ChannelId reminder\nSet ChannelId Step 3\n4. Reproducing the Workflow from Scratch\nCreate the Form Trigger Node\nType: Form Trigger\nName: On form submission\nConfigure form titled \"Generate AI Videos (with audio)\"\nAdd two required fields: \"PROMPT\" (text) and \"DURATION\" (number)\nSave and note webhook URL for external trigger\nCreate HTTP Request Node to Generate Video\nType: HTTP Request\nName: Create Video\nMethod: POST\nURL:\nhttps://queue.fal.run/fal-ai/sora-2/text-to-video\nAuthentication: HTTP Header Auth\nHeader Name: Authorization\nHeader Value: Key YOURAPIKEY (replace with actual Fal.ai API key)\nHeaders: Content-Type: application/json\nBody (JSON):\n{\n  \"prompt\": \"{{ $json.PROMPT }}. Duration of the video: {{ $json.DURATION }}\"\n}\nConnect input from On form submission node\nCreate Wait Node\nType: Wait\nName: Wait 60 sec.\nTime: 60 seconds\nConnect input from Create Video node output\nCreate HTTP Request Node to Get Status\nType: HTTP Request\nName: Get status\nMethod: GET\nURL:\nhttps://queue.fal.run/fal-ai/sora-2/requests/{{\n$('Create Video').item.json.request_id }}/status\nAuthentication: HTTP Header Auth\nUse the same Fal.ai API key credentials as Create Video node\nConnect input from Wait 60 sec. node output\nCreate If Node to Check Completion\nType: If\nName: Completed?\nCondition: Check if\n{{ $json.status }}\nequals \"COMPLETED\"\nConnect input from Get status node output\nTrue output connects to next block (Get Url Video)\nFalse output loops back to Wait 60 sec. node (to poll again)\nCreate HTTP Request Node to Get Video URL\nType: HTTP Request\nName: Get Url Video\nMethod: GET\nURL:\nhttps://queue.fal.run/fal-ai/sora-2/requests/{{\n$json.request_id }}\nAuthentication: HTTP Header Auth\nUse appropriate API key (can reuse Fal.ai key or corresponding credential)\nConnect true output from Completed? node\nCreate OpenAI LangChain Node to Generate Title\nType: OpenAI (LangChain)\nName: Generate title\nModel: gpt-4o-mini (or GPT-5 equivalent)\nMessages:\nUser content: Input prompt from original prompt (\n{{ $('Get new video').item.json.PROMPT }}\n)\nSystem content: Instructions for YouTube SEO title generation (as per workflow)\nConnect input from Get Url Video node\nCreate HTTP Request Node to Download Video File\nType: HTTP Request\nName: Get File Video\nMethod: GET\nURL:\n={{ $('Get Url Video').item.json.video.url }}\nConnect input from Generate title node\nCreate HTTP Request Node to Upload Video to Postiz\nType: HTTP Request\nName: Upload Video to Postiz\nMethod: POST\nURL:\nhttps://api.postiz.com/public/v1/upload\nAuthentication: HTTP Header Auth\nHeader Name: Authorization\nHeader Value: Postiz API key (from Postiz account)\nContent-Type: multipart/form-data\nBody: form binary data, parameter name \"file\", input from Get File Video binary data\nConnect input from Get File Video node\nCreate Postiz Node to Post on TikTok\nType: Postiz (custom node)\nName: TikTok\nCredentials: Postiz API key\nParameters:\nDate: Current timestamp (use expression for now)\nPost content:\nImage: Use ID and path from Upload Video to Postiz response\nContent: Generated title from Generate title node\nIntegrationId: Set to your TikTok channel ID from Postiz\nShortLink: true\nConnect input from Upload Video to Postiz node\nAdd Sticky Notes as per need\nAdd sticky notes to explain API key setup (Fal.ai and Postiz)\nAdd notes for scheduling triggers and TikTok integration steps\nOptional: Configure Scheduling\nAdd a Schedule Trigger node if periodic automatic execution is needed, recommended every 5 minutes\n5. General Notes & Resources\nNote Content\nContext or Link\nCreate an account on\nFal.ai\nand obtain API Key for Sora 2 video generation.\nAPI key acquisition instructions\nCreate an account on\nPostiz\nwith a free 7-day trial for TikTok.\nPostiz account and TikTok channel integration setup\nPostiz allows connecting social accounts and obtaining ChannelId for scheduling posts.\nPostiz TikTok integration instructions\nWorkflow requires self-hosted n8n due to community nodes compatibility.\nCompatibility notice\nSchedule trigger recommended at 5-minute intervals for batch processing or repeated runs.\nScheduling advice\nDisclaimer:\nThe text provided is generated strictly from an automated n8n workflow. It complies fully with content policies and contains no illegal, offensive, or protected content. All data handled is legal and public.\nCopied to clipboard",
    "description_full_fr": "### 1. Tu soumets ton idée (Formulaire)\nFormulaire web avec 2 champs :\n- **PROMPT** : \"Un chat qui joue au piano dans un salon moderne\"\n- **DURATION** : Durée en secondes (5-10s recommandé pour TikTok)",
    "category": "Marketing",
    "complexity": "Advanced",
    "tags_en": [],
    "tags_fr": [],
    "author": "Davide",
    "date": "Unknown",
    "url_original": "https://n8nworkflows.xyz/workflows/generate-funny-ai-videos-with-sora-2-and-auto-publish-to-tiktok-10212",
    "nodes_count": 16,
    "sections": {
      "why": "",
      "description": "### 1. Tu soumets ton idée (Formulaire)\nFormulaire web avec 2 champs :\n- **PROMPT** : \"Un chat qui joue au piano dans un salon moderne\"\n- **DURATION** : Durée en secondes (5-10s recommandé pour TikTok)",
      "installation": "### Prérequis\n- [ ] n8n **self-hosted** (Postiz = community node)\n- [ ] Compte Fal.ai (Sora 2) - $10 de crédits gratuits\n- [ ] Compte Postiz (7 jours gratuits, puis $29/mois)\n- [ ] Compte TikTok connecté à Postiz",
      "usage": "### Scénario 1 : Poster 1 vidéo/jour sur TikTok\n**Situation :** Tu veux tester TikTok sans y passer 10h/semaine.\n\n**Process :**\n1. Chaque matin, remplis le formulaire avec une idée (30 secondes)\n2. Attends 5 minutes\n3. La vidéo est sur TikTok\n\n**Résultat automatique :** 7 vidéos/semaine avec zéro effort de montage.\n\n**Monitoring :** Check le node \"Download Video\" pour voir l'URL de la vidéo avant upload. Si elle est nulle, c'est que Sora a raté (rare).\n\n---",
      "tips": "**Prompts Sora qui marchent :**\n- ✅ \"Un chat roux qui joue du piano dans un salon moderne avec lumière naturelle\"\n- ❌ \"Chat piano\"\n\n**Plus tu es précis, meilleur est le résultat.** Ajoute :\n- Éclairage (lumière naturelle, néon, coucher de soleil...)\n- Style (réaliste, cinématographique, cartoon...)\n- Mouvement caméra (plan fixe, travelling, zoom...)\n\n**Durée optimale :**\n- TikTok : 6-9 secondes (attention span)\n- YouTube Shorts : 15-30 secondes\n- Instagram Reels : 10-15 secondes\n\n**Coûts Sora 2 :**\n- ~$0.50 par vidéo de 10 secondes\n- Si tu postes 30 vidéos/mois = $15\n- Compare avec un monteur freelance : $50/vidéo minimum\n\n**Timing du post :**\nPostiz te permet de scheduler. Modifie le node \"TikTok\" :\n```\ndate: {{ $now.plus({hours: 2}).format('yyyy-MM-dd HH:mm:ss') }}\n```\nPoste 2h après génération au lieu d'immédiatement.\n\n**Gestion des échecs :**\nSora rate parfois (timeout, prompt mal compris). Ajoute un node \"Error Trigger\" qui te notifie sur Slack si le workflow plante.\n\n---",
      "learning": ""
    }
  },
  "workflow_json": {
    "id": "GLcUQFi471pOAy9l",
    "meta": {
      "instanceId": "a4bfc93e975ca233ac45ed7c9227d84cf5a2329310525917adaf3312e10d5462"
    },
    "name": "Generate AI Videos (with audio), using Sora 2 and Upload to TikTok",
    "tags": [],
    "nodes": [
      {
        "id": "c3c8b7d9-b993-475b-88f7-196edb500473",
        "name": "Get status",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          832,
          576
        ],
        "parameters": {
          "url": "=https://queue.fal.run/fal-ai/sora-2/requests/{{ $('Create Video').item.json.request_id }}/status ",
          "options": {},
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth"
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "daOZafXpRXLtoLUV",
            "name": "Fal.run API"
          }
        },
        "typeVersion": 4.2
      },
      {
        "id": "a0f0a4d4-aa2d-4296-ada1-c3ed2dc5e80f",
        "name": "Wait 60 sec.",
        "type": "n8n-nodes-base.wait",
        "position": [
          592,
          576
        ],
        "webhookId": "bb15f2f3-caec-4df6-ac1f-374ed90d8a3e",
        "parameters": {
          "amount": 60
        },
        "typeVersion": 1.1
      },
      {
        "id": "52eb9e2c-5610-4bf5-b8c9-43c01d0abbd8",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -144,
          -80
        ],
        "parameters": {
          "color": 3,
          "width": 740,
          "height": 328,
          "content": "# Generate AI Videos (with audio), using Sora 2 and Upload to TikTok\n\nThis workflow allows users to **generate AI videos** using model **OpenAI Sora 2**, save them to **Google Drive**, generate optimized YouTube titles with GPT-5, and **automatically upload them to TikTok** . The entire process is triggered from a Form that acts as the central interface for input and output.\n\nNOTE: This workflow contains community nodes that are only compatible with the self-hosted version of n8n.\n\n\n\n\n"
        },
        "typeVersion": 1
      },
      {
        "id": "ba77687d-9e91-4dbc-8a90-f82290c93572",
        "name": "Completed?",
        "type": "n8n-nodes-base.if",
        "position": [
          1136,
          576
        ],
        "parameters": {
          "options": {},
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "and",
            "conditions": [
              {
                "id": "383d112e-2cc6-4dd4-8985-f09ce0bd1781",
                "operator": {
                  "name": "filter.operator.equals",
                  "type": "string",
                  "operation": "equals"
                },
                "leftValue": "={{ $json.status }}",
                "rightValue": "COMPLETED"
              }
            ]
          }
        },
        "typeVersion": 2.2
      },
      {
        "id": "363bc856-1ce2-42d4-b7f2-e41fbcddb7e1",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          640,
          128
        ],
        "parameters": {
          "width": 740,
          "height": 116,
          "content": "## STEP 3 - MAIN FLOW\nStart the workflow manually or periodically by hooking the \"Schedule Trigger\" node. It is recommended to set it at 5 minute intervals."
        },
        "typeVersion": 1
      },
      {
        "id": "37f4778b-aa51-48ed-96af-da0413ad2ef4",
        "name": "Sticky Note6",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -144,
          288
        ],
        "parameters": {
          "width": 740,
          "height": 172,
          "content": "## STEP 1 - GET API KEY (YOURAPIKEY)\nCreate an account [here](https://fal.ai/) and obtain API KEY.\nIn the node \"Create Image\" set \"Header Auth\" and set:\n- Name: \"Authorization\"\n- Value: \"Key YOURAPIKEY\""
        },
        "typeVersion": 1
      },
      {
        "id": "e8ac3c4c-d8b1-421c-b24c-f83e18845a20",
        "name": "Sticky Note7",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          192,
          528
        ],
        "parameters": {
          "width": 180,
          "height": 200,
          "content": "Set API Key created in Step 2"
        },
        "typeVersion": 1
      },
      {
        "id": "15047d29-e63a-4d29-b21c-a1beec0b6f88",
        "name": "Create Video",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          240,
          576
        ],
        "parameters": {
          "url": "https://queue.fal.run/fal-ai/sora-2/text-to-video",
          "method": "POST",
          "options": {},
          "jsonBody": "={\n     \"prompt\": \"{{ $json.PROMPT }}. Duration of the video: {{ $json.DURATION }}\"\n}",
          "sendBody": true,
          "sendHeaders": true,
          "specifyBody": "json",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          }
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "daOZafXpRXLtoLUV",
            "name": "Fal.run API"
          }
        },
        "typeVersion": 4.2
      },
      {
        "id": "487ab020-dfd8-4956-9263-ffe944840978",
        "name": "Get Url Video",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          -96,
          832
        ],
        "parameters": {
          "url": "=https://queue.fal.run/fal-ai/sora-2/requests/{{ $json.request_id }}",
          "options": {},
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth"
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "RfHIslxMFRjQZ043",
            "name": "Youtube Transcript Extractor API 1"
          }
        },
        "typeVersion": 4.2
      },
      {
        "id": "616e4deb-c5f3-4a13-a970-5816a5327aae",
        "name": "Get File Video",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          544,
          832
        ],
        "parameters": {
          "url": "={{ $('Get Url Video').item.json.video.url }}",
          "options": {}
        },
        "typeVersion": 4.2
      },
      {
        "id": "0c25e7c8-f960-4f46-9530-437bece778a4",
        "name": "Generate title",
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "position": [
          192,
          832
        ],
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o-mini",
            "cachedResultName": "GPT-4O-MINI"
          },
          "options": {},
          "messages": {
            "values": [
              {
                "content": "=Input: {{ $('Get new video').item.json.PROMPT }}"
              },
              {
                "role": "system",
                "content": "You are a YouTube SEO expert specialized in creating engaging and optimized titles.\n\nYour task is to generate an effective title for a YouTube video based on the user's video description.\n\nGUIDELINES:\n- Maximum 60 characters to avoid truncation\n- Use relevant keywords for SEO\n- Make the title catchy and clickable\n- Avoid excessive or misleading clickbait\n- Consider the target audience of the content\n- Use numbers, questions, or power words when appropriate\n- IMPORTANT: Generate the title in the same language as the input description\n\nOUTPUT FORMAT:\nProvide only the title, without additional explanations.\n\nEXAMPLE:\nInput: \"Tutorial video on how to cook perfect pasta carbonara\"\nOutput: \"PERFECT Carbonara in 10 Minutes - Chef's Secrets\""
              }
            ]
          }
        },
        "typeVersion": 1.8
      },
      {
        "id": "538d18c3-4049-4940-a08f-180c3871e9b9",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          1104,
          784
        ],
        "parameters": {
          "width": 180,
          "height": 200,
          "content": "Set ChannelId Step 3"
        },
        "typeVersion": 1
      },
      {
        "id": "1921e2b7-d6b7-41f2-83e0-b453b4902a11",
        "name": "Sticky Note8",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          640,
          -80
        ],
        "parameters": {
          "width": 740,
          "height": 184,
          "content": "## STEP 2 - Upload video on TikTok\n- Create an account on [Postiz](https://postiz.com/?ref=n3witalia) FREE 7 days-trial\n- Get your API Key and set it in Postiz node and Upload Image node\n- In Calendar tab on [Postiz](https://postiz.com/?ref=n3witalia) click on \"Add channel\" and connect your social networks (TikTok)\n- Once connected, copy the \"ChannelId\" for each social network and insert the appropriate one into the Postiz nodes, replacing the \"XXX\" string. "
        },
        "typeVersion": 1
      },
      {
        "id": "6a914695-7ae2-4c67-bd2f-3946576a0a6a",
        "name": "TikTok",
        "type": "n8n-nodes-postiz.postiz",
        "position": [
          1152,
          832
        ],
        "parameters": {
          "date": "={{ $now.format('yyyy-LL-dd') }}T{{ $now.format('HH:ii:ss') }}",
          "posts": {
            "post": [
              {
                "value": {
                  "contentItem": [
                    {
                      "image": {
                        "imageItem": [
                          {
                            "id": "={{ $json.id }}",
                            "path": "={{ $json.path }}"
                          }
                        ]
                      },
                      "content": "={{ $('Generate title').item.json.message.content }}"
                    }
                  ]
                },
                "integrationId": "XXX"
              }
            ]
          },
          "shortLink": true
        },
        "credentials": {
          "postizApi": {
            "id": "c8iQxqMcfCXPbUHc",
            "name": "Postiz account"
          }
        },
        "typeVersion": 1
      },
      {
        "id": "d90711bc-6528-437d-9214-8277941348ec",
        "name": "Upload Video to Postiz",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          832,
          832
        ],
        "parameters": {
          "url": "https://api.postiz.com/public/v1/upload",
          "method": "POST",
          "options": {},
          "sendBody": true,
          "contentType": "multipart-form-data",
          "authentication": "genericCredentialType",
          "bodyParameters": {
            "parameters": [
              {
                "name": "file",
                "parameterType": "formBinaryData",
                "inputDataFieldName": "data"
              }
            ]
          },
          "genericAuthType": "httpHeaderAuth"
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "GIEq2Y2xhJSgjqyG",
            "name": "Postiz"
          }
        },
        "typeVersion": 4.2
      },
      {
        "id": "fa405717-0efa-4d6f-9a21-7abba6331fec",
        "name": "On form submission",
        "type": "n8n-nodes-base.formTrigger",
        "position": [
          -112,
          576
        ],
        "webhookId": "32c47078-918b-41f8-ba5c-3d1ec1bfa42b",
        "parameters": {
          "options": {},
          "formTitle": "Generate AI Videos (with audio)",
          "formFields": {
            "values": [
              {
                "fieldLabel": "PROMPT",
                "requiredField": true
              },
              {
                "fieldType": "number",
                "fieldLabel": "DURATION",
                "requiredField": true
              }
            ]
          },
          "formDescription": "Generate AI Videos (with audio), using OpenAI Sora 2 and Upload to TikTok"
        },
        "typeVersion": 2.3
      }
    ],
    "active": false,
    "pinData": {},
    "settings": {
      "executionOrder": "v1"
    },
    "versionId": "b1721168-dbc7-4724-bee5-dd524ab1ee83",
    "connections": {
      "Completed?": {
        "main": [
          [
            {
              "node": "Get Url Video",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait 60 sec.",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get status": {
        "main": [
          [
            {
              "node": "Completed?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Video": {
        "main": [
          [
            {
              "node": "Wait 60 sec.",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait 60 sec.": {
        "main": [
          [
            {
              "node": "Get status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Url Video": {
        "main": [
          [
            {
              "node": "Generate title",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Generate title": {
        "main": [
          [
            {
              "node": "Get File Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get File Video": {
        "main": [
          [
            {
              "node": "Upload Video to Postiz",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "On form submission": {
        "main": [
          [
            {
              "node": "Create Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Video to Postiz": {
        "main": [
          [
            {
              "node": "TikTok",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    }
  }
}