public/templates/lead-capture-nurture-n8n.json
{
  "name": "Lead Capture → CRM → Email Nurture - Agentic Factory Template #003",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Form Submission Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "lead-capture-001"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "={{ $json.body.name || $json.name || '' }}"
            },
            {
              "name": "email",
              "value": "={{ ($json.body.email || $json.email || '').toLowerCase().trim() }}"
            },
            {
              "name": "company",
              "value": "={{ $json.body.company || $json.company || '' }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.body.phone || $json.phone || '' }}"
            },
            {
              "name": "message",
              "value": "={{ $json.body.message || $json.message || '' }}"
            },
            {
              "name": "source",
              "value": "={{ $json.body.source || $json.source || 'website' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "extract-data",
      "name": "Extract Form Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [470, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "email-valid",
              "leftValue": "={{ $json.email }}",
              "rightValue": "^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}$",
              "operator": {
                "type": "string",
                "operation": "regex",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-email-valid",
      "name": "Email Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "search",
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "email",
                    "operator": "EQ",
                    "value": "={{ $json.email }}"
                  }
                ]
              }
            }
          ]
        },
        "options": {}
      },
      "id": "hubspot-search",
      "name": "HubSpot: Search Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [910, 200],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "4",
          "name": "HubSpot OAuth2 API account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "contact-exists",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-contact-exists",
      "name": "Contact Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1130, 200]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "create",
        "additionalFields": {
          "company": "={{ $('Extract Form Data').item.json.company }}",
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "phone",
                "value": "={{ $('Extract Form Data').item.json.phone }}"
              },
              {
                "property": "message",
                "value": "={{ $('Extract Form Data').item.json.message }}"
              },
              {
                "property": "lead_source",
                "value": "={{ $('Extract Form Data').item.json.source }}"
              },
              {
                "property": "lead_status",
                "value": "New"
              },
              {
                "property": "nurture_sequence",
                "value": "Active"
              }
            ]
          }
        },
        "email": "={{ $('Extract Form Data').item.json.email }}",
        "firstName": "={{ $('Extract Form Data').item.json.name.split(' ')[0] }}",
        "lastName": "={{ $('Extract Form Data').item.json.name.split(' ').slice(1).join(' ') }}"
      },
      "id": "hubspot-create",
      "name": "HubSpot: Create Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [1350, 100],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "4",
          "name": "HubSpot OAuth2 API account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "update",
        "contactId": "={{ $json.id }}",
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "lead_source",
                "value": "={{ $('Extract Form Data').item.json.source }}"
              },
              {
                "property": "last_contacted",
                "value": "={{ $now.toISO() }}"
              },
              {
                "property": "nurture_sequence",
                "value": "Active"
              }
            ]
          }
        }
      },
      "id": "hubspot-update",
      "name": "HubSpot: Update Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [1350, 300],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "4",
          "name": "HubSpot OAuth2 API account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "merge-crm",
      "name": "Merge CRM Results",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1570, 200]
    },
    {
      "parameters": {
        "jsCode": "// Build Email #1: Welcome Email\nconst data = $('Extract Form Data').item.json;\nconst name = data.name.split(' ')[0]; // First name only\nconst company = data.company || 'your company';\n\nconst htmlBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; margin: 0; padding: 0; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 40px 20px; text-align: center; border-radius: 8px 8px 0 0; }\n    .content { background: #ffffff; padding: 40px 30px; }\n    .checklist { background: #f7fafc; padding: 20px; border-radius: 8px; margin: 20px 0; }\n    .checklist-item { margin: 10px 0; font-size: 16px; }\n    .cta { text-align: center; margin: 30px 0; }\n    .cta a { background: #667eea; color: white; padding: 15px 40px; text-decoration: none; border-radius: 6px; display: inline-block; font-weight: 600; }\n    .footer { background: #f7fafc; padding: 20px; text-align: center; color: #718096; font-size: 14px; border-radius: 0 0 8px 8px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1 style=\"margin: 0; font-size: 28px;\">Thanks for reaching out, ${name}!</h1>\n    </div>\n    \n    <div class=\"content\">\n      <p>Hi ${name},</p>\n      \n      <p>Thanks for your interest! I'm excited to learn more about ${company} and how we can help.</p>\n      \n      <p><strong>Over the next week, I'll share:</strong></p>\n      \n      <div class=\"checklist\">\n        <div class=\"checklist-item\">✅ How we help companies like yours</div>\n        <div class=\"checklist-item\">✅ Real results from similar clients</div>\n        <div class=\"checklist-item\">✅ Resources to solve your challenges</div>\n      </div>\n      \n      <p>Expect an email every 2-3 days (no spam, I promise).</p>\n      \n      <p>In the meantime, feel free to book a quick call:</p>\n      \n      <div class=\"cta\">\n        <a href=\"https://calendly.com/your-link\">Book 15-Minute Call</a>\n      </div>\n      \n      <p>Talk soon,<br>\n      <strong>Your Name</strong><br>\n      Your Company</p>\n    </div>\n    \n    <div class=\"footer\">\n      <p>You're receiving this because you submitted a form on our website.<br>\n      <a href=\"{{unsubscribe_url}}\" style=\"color: #667eea;\">Unsubscribe</a></p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nconst subject = `Thanks for your interest, ${name}!`;\n\nreturn {\n  ...items[0].json,\n  email_1_html: htmlBody,\n  email_1_subject: subject,\n  email_1_to: data.email,\n  email_1_name: name\n};"
      },
      "id": "build-email-1",
      "name": "Build Email #1 (Welcome)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1790, 200]
    },
    {
      "parameters": {
        "fromEmail": "hello@yourcompany.com",
        "toEmail": "={{ $json.email_1_to }}",
        "subject": "={{ $json.email_1_subject }}",
        "emailType": "html",
        "message": "={{ $json.email_1_html }}",
        "options": {}
      },
      "id": "send-email-1",
      "name": "Send Email #1 (Welcome)",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2.1,
      "position": [2010, 200],
      "credentials": {
        "smtp": {
          "id": "5",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "amount": 24,
        "unit": "hours"
      },
      "id": "wait-1-day",
      "name": "Wait 1 Day",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2230, 200],
      "webhookId": "wait-1d-001"
    },
    {
      "parameters": {
        "jsCode": "// Build Email #2: Education\nconst data = $('Extract Form Data').item.json;\nconst name = data.name.split(' ')[0];\nconst company = data.company || 'your company';\n\nconst htmlBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 40px 20px; text-align: center; border-radius: 8px 8px 0 0; }\n    .content { background: #ffffff; padding: 40px 30px; }\n    .highlight-box { background: #edf2f7; border-left: 4px solid #667eea; padding: 20px; margin: 20px 0; }\n    .stats { display: flex; justify-content: space-around; margin: 30px 0; }\n    .stat { text-align: center; }\n    .stat-number { font-size: 36px; font-weight: bold; color: #667eea; }\n    .stat-label { font-size: 14px; color: #718096; }\n    .cta { text-align: center; margin: 30px 0; }\n    .cta a { background: #667eea; color: white; padding: 15px 40px; text-decoration: none; border-radius: 6px; display: inline-block; font-weight: 600; }\n    .footer { background: #f7fafc; padding: 20px; text-align: center; color: #718096; font-size: 14px; border-radius: 0 0 8px 8px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1 style=\"margin: 0; font-size: 28px;\">Here's how we help ${company}</h1>\n    </div>\n    \n    <div class=\"content\">\n      <p>Hi ${name},</p>\n      \n      <p>Yesterday you asked about how we can help ${company}. Here's the short version:</p>\n      \n      <div class=\"highlight-box\">\n        <h3 style=\"margin-top: 0;\">We help B2B companies like yours:</h3>\n        <ul>\n          <li>Automate repetitive tasks (save 10-15h/week)</li>\n          <li>Scale operations without hiring</li>\n          <li>Increase revenue with proven workflows</li>\n        </ul>\n      </div>\n      \n      <p><strong>Recent results:</strong></p>\n      \n      <div class=\"stats\">\n        <div class=\"stat\">\n          <div class=\"stat-number\">451%</div>\n          <div class=\"stat-label\">Average ROI</div>\n        </div>\n        <div class=\"stat\">\n          <div class=\"stat-number\">15h</div>\n          <div class=\"stat-label\">Time Saved/Week</div>\n        </div>\n        <div class=\"stat\">\n          <div class=\"stat-number\">30%</div>\n          <div class=\"stat-label\">Revenue Increase</div>\n        </div>\n      </div>\n      \n      <p>Want to see how this applies to ${company}?</p>\n      \n      <div class=\"cta\">\n        <a href=\"https://yoursite.com/case-studies\">Download Case Study</a>\n      </div>\n      \n      <p>More tomorrow,<br>\n      <strong>Your Name</strong></p>\n    </div>\n    \n    <div class=\"footer\">\n      <a href=\"{{unsubscribe_url}}\" style=\"color: #667eea;\">Unsubscribe</a>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nconst subject = `Here's how we help ${company}`;\n\nreturn {\n  ...items[0].json,\n  email_2_html: htmlBody,\n  email_2_subject: subject\n};"
      },
      "id": "build-email-2",
      "name": "Build Email #2 (Education)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2450, 200]
    },
    {
      "parameters": {
        "fromEmail": "hello@yourcompany.com",
        "toEmail": "={{ $('Extract Form Data').item.json.email }}",
        "subject": "={{ $json.email_2_subject }}",
        "emailType": "html",
        "message": "={{ $json.email_2_html }}",
        "options": {}
      },
      "id": "send-email-2",
      "name": "Send Email #2 (Education)",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2.1,
      "position": [2670, 200],
      "credentials": {
        "smtp": {
          "id": "5",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "amount": 48,
        "unit": "hours"
      },
      "id": "wait-2-days",
      "name": "Wait 2 Days",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [2890, 200],
      "webhookId": "wait-2d-001"
    },
    {
      "parameters": {
        "jsCode": "// Build Email #3: Social Proof\nconst data = $('Extract Form Data').item.json;\nconst name = data.name.split(' ')[0];\nconst company = data.company || 'a company like yours';\n\nconst htmlBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 40px 20px; text-align: center; border-radius: 8px 8px 0 0; }\n    .content { background: #ffffff; padding: 40px 30px; }\n    .testimonial { background: #f7fafc; border-left: 4px solid #48bb78; padding: 20px; margin: 20px 0; font-style: italic; }\n    .testimonial-author { margin-top: 10px; font-style: normal; font-weight: 600; color: #667eea; }\n    .case-study { background: #edf2f7; padding: 25px; border-radius: 8px; margin: 20px 0; }\n    .metric { margin: 15px 0; }\n    .metric-label { font-weight: 600; color: #2d3748; }\n    .metric-value { color: #48bb78; font-size: 20px; font-weight: bold; }\n    .cta { text-align: center; margin: 30px 0; }\n    .cta a { background: #48bb78; color: white; padding: 15px 40px; text-decoration: none; border-radius: 6px; display: inline-block; font-weight: 600; }\n    .footer { background: #f7fafc; padding: 20px; text-align: center; color: #718096; font-size: 14px; border-radius: 0 0 8px 8px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1 style=\"margin: 0; font-size: 26px;\">How TechCorp achieved 300% ROI in 60 days</h1>\n    </div>\n    \n    <div class=\"content\">\n      <p>Hi ${name},</p>\n      \n      <p>Let me share a quick story about TechCorp (similar to ${company}).</p>\n      \n      <div class=\"case-study\">\n        <h3 style=\"margin-top: 0;\">🎯 The Challenge</h3>\n        <p>TechCorp was spending 20 hours/week on manual data entry and follow-ups. Sales team couldn't focus on selling.</p>\n        \n        <h3>🚀 The Solution</h3>\n        <p>We implemented 3 automation workflows:</p>\n        <ul>\n          <li>Lead capture → CRM sync (this workflow!)</li>\n          <li>Automated email nurture sequences</li>\n          <li>Slack notifications for hot leads</li>\n        </ul>\n        \n        <h3>📊 The Results (60 days)</h3>\n        <div class=\"metric\">\n          <span class=\"metric-label\">Time saved:</span>\n          <span class=\"metric-value\">18 hours/week</span>\n        </div>\n        <div class=\"metric\">\n          <span class=\"metric-label\">Lead conversion:</span>\n          <span class=\"metric-value\">12% → 32%</span>\n        </div>\n        <div class=\"metric\">\n          <span class=\"metric-label\">Additional revenue:</span>\n          <span class=\"metric-value\">€45,000/month</span>\n        </div>\n      </div>\n      \n      <div class=\"testimonial\">\n        \"We went from drowning in manual tasks to having a system that runs itself. Best investment we made this year.\"\n        <div class=\"testimonial-author\">— Sarah Chen, CEO at TechCorp</div>\n      </div>\n      \n      <p>Want similar results for ${company}?</p>\n      \n      <div class=\"cta\">\n        <a href=\"https://yoursite.com/case-studies\">See More Case Studies</a>\n      </div>\n      \n      <p>Best,<br>\n      <strong>Your Name</strong></p>\n    </div>\n    \n    <div class=\"footer\">\n      <a href=\"{{unsubscribe_url}}\" style=\"color: #667eea;\">Unsubscribe</a>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nconst subject = `How TechCorp achieved 300% ROI in 60 days`;\n\nreturn {\n  ...items[0].json,\n  email_3_html: htmlBody,\n  email_3_subject: subject\n};"
      },
      "id": "build-email-3",
      "name": "Build Email #3 (Social Proof)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3110, 200]
    },
    {
      "parameters": {
        "fromEmail": "hello@yourcompany.com",
        "toEmail": "={{ $('Extract Form Data').item.json.email }}",
        "subject": "={{ $json.email_3_subject }}",
        "emailType": "html",
        "message": "={{ $json.email_3_html }}",
        "options": {}
      },
      "id": "send-email-3",
      "name": "Send Email #3 (Social Proof)",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2.1,
      "position": [3330, 200],
      "credentials": {
        "smtp": {
          "id": "5",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "amount": 48,
        "unit": "hours"
      },
      "id": "wait-2-days-2",
      "name": "Wait 2 Days (2)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3550, 200],
      "webhookId": "wait-2d-002"
    },
    {
      "parameters": {
        "jsCode": "// Build Email #4: Demo Offer\nconst data = $('Extract Form Data').item.json;\nconst name = data.name.split(' ')[0];\nconst company = data.company || 'your company';\n\nconst htmlBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); color: white; padding: 40px 20px; text-align: center; border-radius: 8px 8px 0 0; }\n    .content { background: #ffffff; padding: 40px 30px; }\n    .demo-box { background: linear-gradient(135deg, #f093fb 0%, #f5576c 100%); color: white; padding: 30px; border-radius: 8px; text-align: center; margin: 30px 0; }\n    .demo-box h2 { margin: 0 0 15px 0; font-size: 24px; }\n    .demo-box p { margin: 0 0 20px 0; opacity: 0.9; }\n    .benefits { margin: 25px 0; }\n    .benefit-item { margin: 15px 0; padding-left: 30px; position: relative; }\n    .benefit-item:before { content: \"✓\"; position: absolute; left: 0; color: #48bb78; font-weight: bold; font-size: 20px; }\n    .cta { text-align: center; margin: 30px 0; }\n    .cta a { background: #667eea; color: white; padding: 18px 50px; text-decoration: none; border-radius: 6px; display: inline-block; font-weight: 600; font-size: 18px; }\n    .footer { background: #f7fafc; padding: 20px; text-align: center; color: #718096; font-size: 14px; border-radius: 0 0 8px 8px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1 style=\"margin: 0; font-size: 28px;\">Ready to see it in action, ${name}?</h1>\n    </div>\n    \n    <div class=\"content\">\n      <p>Hi ${name},</p>\n      \n      <p>Over the past few days, I've shared how we help companies like ${company} save time and increase revenue.</p>\n      \n      <p><strong>Now let's make it real.</strong></p>\n      \n      <div class=\"demo-box\">\n        <h2>🎁 Free 30-Minute Demo</h2>\n        <p>I'll show you exactly how these workflows work for ${company}</p>\n        <a href=\"https://calendly.com/your-link\" style=\"background: white; color: #f5576c; padding: 15px 40px; text-decoration: none; border-radius: 6px; display: inline-block; font-weight: 600;\">Book Your Demo</a>\n      </div>\n      \n      <p><strong>In this demo, you'll see:</strong></p>\n      \n      <div class=\"benefits\">\n        <div class=\"benefit-item\">How to automate your lead follow-up (like this email sequence)</div>\n        <div class=\"benefit-item\">Custom workflows built for your specific needs</div>\n        <div class=\"benefit-item\">Expected ROI and time savings for ${company}</div>\n        <div class=\"benefit-item\">Live Q&A - ask me anything</div>\n      </div>\n      \n      <p><strong>No pressure, no sales pitch.</strong> Just a helpful walkthrough.</p>\n      \n      <div class=\"cta\">\n        <a href=\"https://calendly.com/your-link\">Schedule My Free Demo</a>\n      </div>\n      \n      <p>Looking forward to it,<br>\n      <strong>Your Name</strong><br>\n      Your Company</p>\n      \n      <p style=\"font-size: 14px; color: #718096; margin-top: 30px;\">P.S. Demos typically last 20-30 minutes. I'll record it so you can share with your team.</p>\n    </div>\n    \n    <div class=\"footer\">\n      <a href=\"{{unsubscribe_url}}\" style=\"color: #667eea;\">Unsubscribe</a>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nconst subject = `Ready to see it in action, ${name}?`;\n\nreturn {\n  ...items[0].json,\n  email_4_html: htmlBody,\n  email_4_subject: subject\n};"
      },
      "id": "build-email-4",
      "name": "Build Email #4 (Demo)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3770, 200]
    },
    {
      "parameters": {
        "fromEmail": "hello@yourcompany.com",
        "toEmail": "={{ $('Extract Form Data').item.json.email }}",
        "subject": "={{ $json.email_4_subject }}",
        "emailType": "html",
        "message": "={{ $json.email_4_html }}",
        "options": {}
      },
      "id": "send-email-4",
      "name": "Send Email #4 (Demo)",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2.1,
      "position": [3990, 200],
      "credentials": {
        "smtp": {
          "id": "5",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "amount": 48,
        "unit": "hours"
      },
      "id": "wait-2-days-3",
      "name": "Wait 2 Days (3)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [4210, 200],
      "webhookId": "wait-2d-003"
    },
    {
      "parameters": {
        "jsCode": "// Build Email #5: Last Touch\nconst data = $('Extract Form Data').item.json;\nconst name = data.name.split(' ')[0];\nconst company = data.company || 'your company';\n\nconst htmlBody = `\n<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"UTF-8\">\n  <style>\n    body { font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; line-height: 1.6; color: #333; }\n    .container { max-width: 600px; margin: 0 auto; padding: 20px; }\n    .header { background: #2d3748; color: white; padding: 30px 20px; text-align: center; border-radius: 8px 8px 0 0; }\n    .content { background: #ffffff; padding: 40px 30px; }\n    .options { margin: 30px 0; }\n    .option { background: #f7fafc; padding: 20px; margin: 15px 0; border-radius: 8px; border-left: 4px solid #667eea; }\n    .option h3 { margin: 0 0 10px 0; color: #667eea; }\n    .option a { color: #667eea; font-weight: 600; text-decoration: none; }\n    .cta { text-align: center; margin: 30px 0; }\n    .cta a { background: #2d3748; color: white; padding: 15px 40px; text-decoration: none; border-radius: 6px; display: inline-block; font-weight: 600; }\n    .footer { background: #f7fafc; padding: 20px; text-align: center; color: #718096; font-size: 14px; border-radius: 0 0 8px 8px; }\n  </style>\n</head>\n<body>\n  <div class=\"container\">\n    <div class=\"header\">\n      <h1 style=\"margin: 0; font-size: 24px;\">${name}, still interested?</h1>\n    </div>\n    \n    <div class=\"content\">\n      <p>Hi ${name},</p>\n      \n      <p>This is my last email in the sequence. I hope you found the information helpful!</p>\n      \n      <p>I know you're busy running ${company}, so I wanted to make it easy for you to take the next step (whatever that is).</p>\n      \n      <p><strong>Here are your options:</strong></p>\n      \n      <div class=\"options\">\n        <div class=\"option\">\n          <h3>📞 Option 1: Book a Demo</h3>\n          <p>See exactly how automation can help ${company}.<br>\n          <a href=\"https://calendly.com/your-link\">Schedule 30-minute demo →</a></p>\n        </div>\n        \n        <div class=\"option\">\n          <h3>💬 Option 2: Just Ask Questions</h3>\n          <p>Have specific questions? Reply to this email and I'll answer.<br>\n          <a href=\"mailto:hello@yourcompany.com\">Email me your questions →</a></p>\n        </div>\n        \n        <div class=\"option\">\n          <h3>📚 Option 3: Get More Resources</h3>\n          <p>Not ready yet? Grab our free guides and templates.<br>\n          <a href=\"https://yoursite.com/resources\">Download resources →</a></p>\n        </div>\n        \n        <div class=\"option\">\n          <h3>🙏 Option 4: Not Right Now</h3>\n          <p>No problem! If automation isn't a priority right now, that's totally fine. I won't send more emails unless you reach out.<br>\n          <a href=\"{{unsubscribe_url}}\">Unsubscribe from future emails →</a></p>\n        </div>\n      </div>\n      \n      <p>Whatever you choose, I appreciate you reading these emails.</p>\n      \n      <div class=\"cta\">\n        <a href=\"https://calendly.com/your-link\">Book a Free Demo</a>\n      </div>\n      \n      <p>All the best,<br>\n      <strong>Your Name</strong><br>\n      Your Company</p>\n      \n      <p style=\"font-size: 14px; color: #718096; margin-top: 30px;\">P.S. Even if you don't book a demo, feel free to reach out anytime. I'm always happy to help.</p>\n    </div>\n    \n    <div class=\"footer\">\n      <p>This was the last email in the sequence.<br>\n      <a href=\"{{unsubscribe_url}}\" style=\"color: #667eea;\">Unsubscribe from all future emails</a></p>\n    </div>\n  </div>\n</body>\n</html>\n`;\n\nconst subject = `${name}, still interested?`;\n\nreturn {\n  ...items[0].json,\n  email_5_html: htmlBody,\n  email_5_subject: subject\n};"
      },
      "id": "build-email-5",
      "name": "Build Email #5 (Last Touch)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4430, 200]
    },
    {
      "parameters": {
        "fromEmail": "hello@yourcompany.com",
        "toEmail": "={{ $('Extract Form Data').item.json.email }}",
        "subject": "={{ $json.email_5_subject }}",
        "emailType": "html",
        "message": "={{ $json.email_5_html }}",
        "options": {}
      },
      "id": "send-email-5",
      "name": "Send Email #5 (Last Touch)",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2.1,
      "position": [4650, 200],
      "credentials": {
        "smtp": {
          "id": "5",
          "name": "SMTP Account"
        }
      }
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "update",
        "contactId": "={{ $('Merge CRM Results').item.json.id }}",
        "updateFields": {
          "customPropertiesUi": {
            "customPropertiesValues": [
              {
                "property": "nurture_sequence",
                "value": "Completed"
              },
              {
                "property": "lead_score",
                "value": "={{ $('Merge CRM Results').item.json.properties.lead_score + 10 }}"
              },
              {
                "property": "nurture_completed_date",
                "value": "={{ $now.toISO() }}"
              }
            ]
          }
        }
      },
      "id": "hubspot-complete",
      "name": "HubSpot: Mark Nurture Complete",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2,
      "position": [4870, 200],
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "4",
          "name": "HubSpot OAuth2 API account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Lead captured and nurture sequence started\", \"contact_id\": $('Merge CRM Results').item.json.id } }}"
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1790, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Invalid email address"
      },
      "id": "webhook-error",
      "name": "Invalid Email Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [910, 400]
    },
    {
      "parameters": {
        "content": "## Lead Capture → CRM → Email Nurture - Template #003\n\n**Agentic Factory Production Template**\n\n### 7-Day Nurture Sequence:\n- **Day 0:** Welcome email (immediate)\n- **Day 1:** Education & value prop\n- **Day 3:** Social proof & case study\n- **Day 5:** Demo offer\n- **Day 7:** Last touch & options\n\n### Setup Required:\n- HubSpot OAuth2 credentials (or Pipedrive)\n- SMTP credentials (SendGrid, Gmail, etc.)\n- Update email sender address (hello@yourcompany.com)\n- Update Calendly links in emails\n- Customize company name and branding\n\n### Form Integration:\nSend POST to webhook:\n```json\n{\n  \"name\": \"John Doe\",\n  \"email\": \"john@company.com\",\n  \"company\": \"ACME Corp\",\n  \"phone\": \"+33612345678\",\n  \"message\": \"Interested in automation\",\n  \"source\": \"website\"\n}\n```\n\n### ROI:\n- 451% average ROI\n- 12% → 30% conversion (2.5x improvement)\n- 100 leads = 30 customers vs 12\n- Additional revenue: €90k/month (at €5k/customer)\n\n**Build Time:** 15 minutes\n**Price:** €59",
        "height": 558.8399405450163,
        "width": 463.15789473684244,
        "color": 5
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [240, 560]
    }
  ],
  "connections": {
    "Form Submission Webhook": {
      "main": [
        [
          {
            "node": "Extract Form Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Form Data": {
      "main": [
        [
          {
            "node": "Email Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Valid?": {
      "main": [
        [
          {
            "node": "HubSpot: Search Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Invalid Email Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot: Search Contact": {
      "main": [
        [
          {
            "node": "Contact Exists?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Contact Exists?": {
      "main": [
        [
          {
            "node": "HubSpot: Update Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HubSpot: Create Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot: Create Contact": {
      "main": [
        [
          {
            "node": "Merge CRM Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot: Update Contact": {
      "main": [
        [
          {
            "node": "Merge CRM Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge CRM Results": {
      "main": [
        [
          {
            "node": "Build Email #1 (Welcome)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email #1 (Welcome)": {
      "main": [
        [
          {
            "node": "Send Email #1 (Welcome)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email #1 (Welcome)": {
      "main": [
        [
          {
            "node": "Wait 1 Day",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 1 Day": {
      "main": [
        [
          {
            "node": "Build Email #2 (Education)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email #2 (Education)": {
      "main": [
        [
          {
            "node": "Send Email #2 (Education)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email #2 (Education)": {
      "main": [
        [
          {
            "node": "Wait 2 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Days": {
      "main": [
        [
          {
            "node": "Build Email #3 (Social Proof)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email #3 (Social Proof)": {
      "main": [
        [
          {
            "node": "Send Email #3 (Social Proof)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email #3 (Social Proof)": {
      "main": [
        [
          {
            "node": "Wait 2 Days (2)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Days (2)": {
      "main": [
        [
          {
            "node": "Build Email #4 (Demo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email #4 (Demo)": {
      "main": [
        [
          {
            "node": "Send Email #4 (Demo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email #4 (Demo)": {
      "main": [
        [
          {
            "node": "Wait 2 Days (3)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2 Days (3)": {
      "main": [
        [
          {
            "node": "Build Email #5 (Last Touch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Email #5 (Last Touch)": {
      "main": [
        [
          {
            "node": "Send Email #5 (Last Touch)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email #5 (Last Touch)": {
      "main": [
        [
          {
            "node": "HubSpot: Mark Nurture Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2026-02-02T22:50:00.000Z",
      "updatedAt": "2026-02-02T22:50:00.000Z",
      "id": "1",
      "name": "Agentic Factory"
    },
    {
      "createdAt": "2026-02-02T22:50:00.000Z",
      "updatedAt": "2026-02-02T22:50:00.000Z",
      "id": "2",
      "name": "Template #003"
    },
    {
      "createdAt": "2026-02-02T22:50:00.000Z",
      "updatedAt": "2026-02-02T22:50:00.000Z",
      "id": "3",
      "name": "Lead Nurture"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2026-02-02T22:50:00.000Z",
  "versionId": "1"
}
